@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&amp;subset=cyrillic);
/*------------------------- Grid -------------------------*/
.events-grid {
  margin: 87px 0 45px 0; }
  .events-grid .item {
    position: relative;
    width: 100%;
    margin-bottom: 60px;
    background: white;
    z-index: 1;
    outline: 1px solid #eee;
    outline-offset: -1px;
    -webkit-transition: box-shadow 500ms;
    -moz-transition: box-shadow 500ms;
    -ms-transition: box-shadow 500ms;
    -o-transition: box-shadow 500ms;
    transition: box-shadow 500ms; }
    .events-grid .item:hover {
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); }
      .events-grid .item:hover .thumb .overlay {
        opacity: 1; }
    .events-grid .item .thumb {
      display: block;
      width: 100%;
      padding-top: 78%;
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 5; }
      .events-grid .item .thumb .date-badge {
        position: absolute;
        width: 70px;
        height: 80px;
        left: 22px;
        top: -15px;
        text-align: center;
        color: white;
        background: #d2a637;
        z-index: 7;
        -webkit-transition: background 300ms;
        -moz-transition: background 300ms;
        -ms-transition: background 300ms;
        -o-transition: background 300ms;
        transition: background 300ms; }
        .events-grid .item .thumb .date-badge .day {
          margin-top: 12px;
          font-family: "Open Sans";
          font-size: 2.5714285714285714285714285714286rem;
          line-height: 100%; }
        .events-grid .item .thumb .date-badge .month {
          margin-top: 2px;
          font-family: "Open Sans";
          font-size: 0.85714285714285714285714285714286rem;
          letter-spacing: -0.5px;
          text-transform: capitalize; }
        .events-grid .item .thumb .date-badge:hover {
          background: #d7af4c; }
      .events-grid .item .thumb .timeleft {
        color: #252525 !important;
        text-decoration: none !important;
        font-size: 1rem;
        background: white;
        position: absolute;
        bottom: 16px;
        width: 190px;
        height: 28px;
        border-radius: 14px;
        text-align: center;
        line-height: 29px;
        left: 50%;
        margin-left: -95px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); }
        .events-grid .item .thumb .timeleft i.fa {
          color: #d2a637 !important;
          margin-right: 5px; }
      .events-grid .item .thumb .overlay {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 6;
        opacity: 0;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -ms-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;
        background-color: rgba(0, 0, 0, 0.75);
        background-image: url("/images/about/hover-zoom.png");
        background-position: center;
        background-repeat: no-repeat; }
    .events-grid .item .desc {
      height: 295px;
      padding: 25px 30px;
      text-align: center;
      color: #252525;
      overflow: hidden; }
      .events-grid .item .desc:before {
        display: block;
        content: "";
        position: absolute;
        bottom: 1px;
        left: 1px;
        right: 1px;
        height: 100px;
        z-index: 10;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 30%, white 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 30%, white 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 30%, white 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
        /* IE6-9 */ }
      .events-grid .item .desc .name {
        font-size: 1.2857142857142857142857142857143rem;
        font-weight: 500;
        text-transform: uppercase; }
      .events-grid .item .desc .tags {
        margin: 20px 0;
        padding: 0;
        text-align: center;
        color: #888;
        list-style: none;
        display: block;
        width: 100%; }
        .events-grid .item .desc .tags li {
          display: inline-block;
          text-transform: capitalize;
          margin: 0 20px 0 0; }
          .events-grid .item .desc .tags li a {
            text-decoration: none;
            color: #888; }
            .events-grid .item .desc .tags li a:hover {
              text-decoration: underline; }
          .events-grid .item .desc .tags li .fa {
            margin-right: 5px; }
          .events-grid .item .desc .tags li:last-child {
            margin: 0; }
      .events-grid .item .desc .shortdesc {
        font-size: 1rem;
        color: #252525;
        line-height: 1.4285714285714285714285714285714rem;
        letter-spacing: 1px; }
    .events-grid .item .btn-more {
      position: absolute;
      bottom: 25px;
      display: block;
      height: 40px;
      width: 170px;
      left: 50%;
      margin-left: -85px;
      line-height: 40px;
      border-radius: 20px;
      letter-spacing: 1px;
      text-decoration: none;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 1rem;
      z-index: 20;
      color: #d2a637;
      background: rgba(210, 166, 55, 0);
      border: 2px solid #d2a637;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -ms-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms; }
      .events-grid .item .btn-more .fa {
        margin-left: 5px; }
      .events-grid .item .btn-more:hover {
        color: white;
        background: #d2a637; }
  .events-grid .btn-lazy-load {
    display: inline-block;
    padding: 12px 26px;
    margin: 0 10px 20px 10px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.85714285714285714285714285714286rem;
    background: #d2a637;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    -webkit-transition: background 300ms;
    -moz-transition: background 300ms;
    -ms-transition: background 300ms;
    -o-transition: background 300ms;
    transition: background 300ms; }
    .events-grid .btn-lazy-load:hover {
      background: #d7af4c; }
    .events-grid .btn-lazy-load .arrow-right {
      display: inline-block;
      height: 7px;
      width: 12px;
      background-image: url("/images/catalog/arrow-right.png");
      background-repeat: no-repeat;
      margin-left: 20px; }

/*------------------------- Model -------------------------*/
.article-page {
  margin-top: 87px;
  margin-bottom: 90px; }
  .article-page h2 {
    margin: 0;
    text-transform: uppercase;
    color: #252525;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.7142857142857142857142857142857rem; }
  .article-page .tags {
    margin: 20px 0 30px 0;
    padding: 0;
    text-align: center;
    color: #888;
    list-style: none;
    display: block;
    width: 100%; }
    .article-page .tags li {
      display: inline-block;
      text-transform: capitalize;
      margin: 0 20px 0 0; }
      .article-page .tags li a {
        text-decoration: none;
        color: #888; }
        .article-page .tags li a:hover {
          text-decoration: underline; }
      .article-page .tags li .fa {
        margin-right: 5px; }
      .article-page .tags li:last-child {
        margin: 0; }
  .article-page .article-image {
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover; }
  .article-page .description {
    font-size: 1rem;
    overflow: hidden;
    color: #252525;
    line-height: 1.4285714285714285714285714285714rem;
    letter-spacing: 1px;
    margin-top: 25px; }
    .article-page .description p {
      text-align: left; }
    .article-page .description img {
      width: 100% !important; }
    .article-page .description blockquote {
      position: relative;
      margin: 0;
      padding-left: 15px;
      text-align: left;
      border-left: 5px solid #d2a637; }

/*# sourceMappingURL=index.css.map */
