@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&amp;subset=cyrillic);

@mixin transition ($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}

$lightestgrey: #eee;
$lightergrey: #888;
$lightgrey: #454545;
$grey: #252525;
$gold: #d2a637;

/*------------------------- Grid -------------------------*/
.events-grid{
    margin: 87px 0 45px 0;


    .item{
        position: relative;
        width: 100%;
        margin-bottom: 60px;
        background: white;

        z-index: 1;

        outline: 1px solid $lightestgrey;
        outline-offset: -1px;

        @include transition(box-shadow 500ms);

        &:hover{
            box-shadow: 0px 0px 40px rgba(0,0,0,0.15);
            .thumb{
                .overlay{
                    opacity: 1;
                }
            }
        }

        .thumb{
            display: block;
            width: 100%;
            padding-top: 78%;
            position: relative;
            background: {
                size: cover;
                position: center;
                repeat: no-repeat;
            };

            z-index: 5;

            .date-badge{
                position: absolute;
                width: 70px;
                height: 80px;
                left: 22px;
                top: -15px;
                text-align: center;
                color: white;
                background: $gold;
                z-index: 7;

                @include transition(background 300ms);

                .day{
                    margin-top: 12px;
                    font-family: "Open Sans";
                    font-size: 2.5714285714285714285714285714286rem;
                    line-height: 100%;
                }
                .month{
                    margin-top: 2px;
                    font-family: "Open Sans";
                    font-size: 0.85714285714285714285714285714286rem;
                    letter-spacing: -0.5px;
                    text-transform: capitalize;
                }

                &:hover{
                    background: lighten($gold, 5%);
                }

            }

            .timeleft{
                color: $grey !important;
                text-decoration: none !important;
                font-size: 1rem;
                background: white;
                position: absolute;
                bottom: 16px;
                width: 190px;
                height: 28px;
                border-radius: 14px;
                text-align: center;
                line-height: 29px;
                left: 50%;
                margin-left: -95px;
                box-shadow: 0 0 5px rgba(0,0,0,0.25);

                i.fa {
                    color: $gold !important;
                    margin-right: 5px;
                }
            }

            .overlay{
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 6;

                opacity: 0;
                @include transition(opacity 500ms);

                background: {
                    color: rgba(0,0,0,0.75);
                    image: url('/images/about/hover-zoom.png');
                    position: center;
                    repeat: no-repeat;
                };
            }
        }

        .desc{
            height: 295px;
            padding: 25px 30px;
            text-align: center;
            color: $grey;
            overflow: hidden;

            &:before{
                display: block;
                content: "";
                position: absolute;
                bottom: 1px;
                left: 1px;
                right: 1px;
                height: 100px;

                z-index: 10;

                background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
            }

            .name{
                font-size: 1.2857142857142857142857142857143rem;
                font-weight: 500;
                text-transform: uppercase;
            }
            .tags{
                margin: 20px 0;
                padding: 0;
                text-align: center;
                color: $lightergrey;
                list-style: none;
                display: block;
                width: 100%;

                li{
                    display: inline-block;
                    text-transform: capitalize;
                    margin: 0 20px 0 0;

                    a {
                        text-decoration: none;
                        color: $lightergrey;

                        &:hover{
                            text-decoration: underline;
                        }
                    }

                    .fa{
                        margin-right: 5px;
                    }

                    &:last-child{
                        margin: 0;
                    }
                }
            }
            .shortdesc{
                font-size: 1rem;
                color: $grey;
                line-height: 1.4285714285714285714285714285714rem;
                letter-spacing: 1px;
            }
        }

        .btn-more {
            position: absolute;
            bottom: 25px;
            display: block;
            height: 40px;
            width: 170px;
            left: 50%;
            margin-left: -85px;
            line-height: 40px;
            border-radius: 20px;
            letter-spacing: 1px;
            text-decoration: none;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 1rem;

            z-index: 20;

            color: $gold;
            background: transparentize($gold, 1);
            border: 2px solid $gold;

            .fa{
                margin-left: 5px;
            }

            @include transition(300ms);

            &:hover{
                color: white;
                background: $gold;
            }
        }
    }

    .btn-lazy-load {
        display: inline-block;
        padding: 12px 26px;
        margin: 0 10px 20px 10px;
        border-radius: 20px;
        color: white;
        text-decoration: none;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 0.85714285714285714285714285714286rem;
        background: $gold;
        box-shadow: 0 0 5px rgba(0,0,0,0.25);

        @include transition(background 300ms);

        &:hover{
            background: lighten($gold, 5%);
        }

        & .arrow-right{
            display: inline-block;
            height: 7px;
            width: 12px;
            background-image: url('/images/catalog/arrow-right.png');
            background-repeat: no-repeat;
            margin-left: 20px;
        }
    }
}


/*------------------------- Model -------------------------*/

.article-page{
    margin-top: 87px;
    margin-bottom: 90px;

    h2 {
        margin: 0;
        text-transform: uppercase;
        color: $grey;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 1.7142857142857142857142857142857rem;
    }
    .tags{
        margin: 20px 0 30px 0;
        padding: 0;
        text-align: center;
        color: $lightergrey;
        list-style: none;
        display: block;
        width: 100%;

        li{
            display: inline-block;
            text-transform: capitalize;
            margin: 0 20px 0 0;

            a {
                text-decoration: none;
                color: $lightergrey;

                &:hover{
                    text-decoration: underline;
                }
            }

            .fa{
                margin-right: 5px;
            }

            &:last-child{
                margin: 0;
            }
        }
    }
    .article-image{
        width: 100%;
        height: 400px;
        background: {
            position: center;
            size: cover;
        }
    }
    .description{
        font-size: 1rem;
        overflow: hidden;
        color: $grey;
        line-height: 1.4285714285714285714285714285714rem;
        letter-spacing: 1px;
        margin-top: 25px;

        p {
            text-align: left;
        }

        img {
            width: 100% !important;
        }

        blockquote{
            position: relative;
            margin: 0;
            padding-left: 15px;
            text-align: left;

            border-left: 5px solid $gold;
        }
    }

}