table.table-action tbody td:last-child {
    width: 210px;
}

table.table td{
    word-break: break-all;
}
.bg-light-dark, .bg-light-dark > section, .bg-light-dark .main-content, .bg-light-dark .main-content .page-content, .bg-light-dark .sidebar-mailbox.sidebar .sidebar-inner .nav-sidebar > li.active > a, .bg-light-dark .sidebar-mailbox.sidebar .nav-sidebar > li.active > a:hover, .bg-light-dark .sidebar-mailbox.sidebar .nav-sidebar > li.active > a:focus{
    background: #fafafa !important;
}
.item-list{
    margin-top: 30px;
}
.btn {
    border-radius: 20px !important;
    background-color: #d2a637 !important;
    color: white !important;
}
.sidebar-collapsed .topbar .header-left .topnav .menutoggle{
    background-color: #d2a637 !important;
}

.sidebar .sidebar-inner .nav-sidebar > li.active > a {
    background-color: #d2a637 !important;
}



.fileinput-new.input-group .btn-file, .fileinput-new .input-group .btn-file{
    border-radius: 0 20px 20px 0 !important;
}
.item {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}
.item .thumb {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 100%;
    background: #d2a637;
    background-position: center;
    background-size: cover;
}
.item .thumb span{
    position: absolute;
    color: white;
    top: calc(50% - 25px);
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 100%;
    font-size: 50px;
}
.item .thumb .ext{
    position: absolute;
    color: white;
    padding-top: calc(50% - 25px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 100%;
    font-size: 50px;
}
.item .thumb .ovr{
    opacity: 0;

    position: absolute;
    color: white;
    padding-top: calc(50% - 25px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    text-align: center;
    line-height: 100%;
    font-size: 50px;

    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -ms-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}
.item .thumb:hover .ovr{
    opacity: 1;
}
.item .desc {
    position: relative;
    background: white;
    padding: 10px 12px;
}
.item .desc .file-edit-btn{
    background: #d2a637;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 36px;
    height: 38px;
    line-height: 40px;
    border-radius: 20px 0 0 0;
    text-align: center;

    -webkit-transition: background 300ms;
    -moz-transition: background 300ms;
    -ms-transition: background 300ms;
    -o-transition: background 300ms;
    transition: background 300ms;
}
.item .desc .file-edit-btn:hover{
    background: #dcb543;
}