//@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&amp;subset=cyrillic);

@mixin transition ($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}

$lightergrey: #888;
$lightgrey: #454545;
$grey: #252525;
$darkgrey: #1a1a1a;
$gold: #d2a637;

/*------------------------- Timeline -------------------------*/

@-webkit-keyframes mouse-animation {
    0%      { background-position-y: 0px; }
    50%     { background-position-y: 5px; }
    100%    { background-position-y: 0px; }
}
@-moz-keyframes mouse-animation {
    0%      { background-position-y: 0px; }
    50%     { background-position-y: 5px; }
    100%    { background-position-y: 0px; }
}
@-o-keyframes mouse-animation {
    0%      { background-position-y: 0px; }
    50%     { background-position-y: 5px; }
    100%    { background-position-y: 0px; }
}
@keyframes mouse-animation {
    0%      { background-position-y: 0px; }
    50%     { background-position-y: 5px; }
    100%    { background-position-y: 0px; }
}

.fullheight{
    height: 100vh;
}

.mCSB_scrollTools{
    z-index: 999;
}

.timeline{
    display: none;
    background: $darkgrey;
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 200;
    margin-right: -17px;
    overflow-y: scroll;

    .whiteline{
        z-index: 10;

        &.start{
            display: block;
            position: absolute;
            bottom: 0;
            left: calc(50% - 2px);

            margin: auto;
            width: 4px;
            height: 15vh;
            background: white;

            &:before{
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 10px;
                border: 3px solid white;
                position: absolute;
                top: -18px;
                left: -8px;
                box-sizing: border-box;
            }
        }
        &.end{
            display: block;
            position: absolute;
            top: 0;
            left: calc(50% - 2px);

            margin: auto;
            width: 4px;
            height: 15vh;
            background: white;

            &:before{
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 10px;
                border: 3px solid white;
                position: absolute;
                top: calc(15vh - 2px);
                left: -8px;
                box-sizing: border-box;
            }
        }
        &.step{
            position: absolute;
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 8px;
            border: 3px solid white;
            top: calc(50vh - 4px);
            left: calc(50vw - 8px);

            &:before{
                content: "";
                display: block;
                width: 4px;
                height: calc(50vh - 2px);
                background: white;
                position: absolute;
                top: -50vh;
                left: 3px;
            }
            &:after{
                content: "";
                display: block;
                width: 4px;
                height: calc(50vh - 2px);
                background: white;
                position: absolute;
                top: 12px;
                left: 3px;
            }
        }
    }
    .intro{
        width: 100vw;
        height: 100vh;
        position: relative;
        text-align: center;

        h3{
            font-size: 2.1428571428571428571428571428571rem;
            margin: 0 0 35px 0;
            font-weight: 400;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        p{
            font-size: 1.1428571428571428571428571428571rem;
            max-width: 490px;
            font-weight: 300;
            letter-spacing: 1px;
            display: block;
            margin: 0 auto;
        }
        .mouse{
            width: 28px;
            height: 48px;
            background: {
                image: url('/images/about/mouse.png');
                repeat: no-repeat;
                position-x: center;
                position-y: 0px;
            }
            margin: auto;
            margin-top: 70px;

            -webkit-animation: mouse-animation 1s infinite; /* Safari 4+ */
            -moz-animation:    mouse-animation 1s infinite; /* Fx 5+ */
            -o-animation:      mouse-animation 1s infinite; /* Opera 12+ */
            animation:         mouse-animation 1s infinite; /* IE 10+, Fx 29+ */
        }
    }
    .step{
        position: relative;
        width: 100vw;
        height: 100vh;
        background: {
            position: center;
            attachment: fixed;
            size: cover;
        };

        &:before{
            content: "";
            display: block;
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(26,26,26,0.5);
        }

        .gradient-top{
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: -1px;
            z-index: 1;

            background: -moz-linear-gradient(top, rgba(26,26,26,1) 0%, rgba(26,26,26,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(26,26,26,1) 0%,rgba(26,26,26,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(26,26,26,1) 0%,rgba(26,26,26,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#001a1a1a',GradientType=0 ); /* IE6-9 */
        }

        .gradient-bottom{
            width: 100vw;
            height: 100vh;
            position: absolute;
            bottom: -1px;
            z-index: 1;

            background: -moz-linear-gradient(top, rgba(26,26,26,0) 0%, rgba(26,26,26,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(26,26,26,0) 0%,rgba(26,26,26,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(26,26,26,0) 0%,rgba(26,26,26,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a1a1a', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-9 */
        }

        &:nth-child(even) {
            .card{
                text-align: right;
                padding: 0 55% 0 0;
            }
        }

        .card{
            z-index: 99;
            display: block;
            position: relative;
            width: 100%;
            padding: 0 0 0 55%;
            text-align: left;

            h4{
                font-size: 2.1428571428571428571428571428571rem;
                margin: 0 0 15px 0;
                font-weight: 400;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
            p{
                font-size: 1.1428571428571428571428571428571rem;
                font-weight: 300;
                letter-spacing: 1px;
                display: block;
                margin: 0 auto;
            }
        }
    }

    .outro{
        width: 100vw;
        height: 100vh;
        position: relative;
        text-align: center;

        h3{
            font-size: 2.1428571428571428571428571428571rem;
            margin: 0 0 35px 0;
            font-weight: 400;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        p{
            font-size: 1.1428571428571428571428571428571rem;
            max-width: 490px;
            font-weight: 300;
            letter-spacing: 1px;
            display: block;
            margin: 0 auto;
        }
        .btn-timeline{
            display: block;
            width: 170px;
            height: 40px;
            line-height: 40px;
            box-sizing: border-box;
            border: 2px solid white;
            border-radius: 20px;
            background: rgba(255,255,255,0);
            color: white;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1rem;
            text-align: center;
            margin: auto;
            margin-top: 40px;

            @include transition(300ms);

            &:hover{
                background: white;
                color: $darkgrey;
            }
        }
    }

    .btn-close{
        display: block;
        position: fixed;
        right: 30px;
        top: 30px;
        width: 38px;
        height: 38px;
        cursor: pointer;

        z-index: 50;

        span{
            display: block;
            height: 4px;
            position: absolute;
            width: 38px;
            background: #FFF;

            &:nth-child(1){
                top: 13px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &:nth-child(2){
                top: 13px;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
    }
}


@media (max-width: 1023px) {
    .timeline{
        .step{
            /*height: 80vh;*/
        }
        .whiteline{
            display: none !important;
        }
        .card{
            padding: 0 !important;
            text-align: center !important;
            left: 0 !important;
            right: 0 !important;
        }
    }

}
