@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

body,
html,
.wrap {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    color: white;
}

#index-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: {
        image: url("/images/site/slidew2.jpg");
        color: white;
        size: cover;
        position: center;
    }

    z-index: 0;

    &:after {
        display: block;
        content: "";
        z-index: 15;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.3);
        /* black 0.4 */
    }

    #slideshow {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh !important;
        overflow: hidden;
        pointer-events: none;

        video {
            position: fixed;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: 2;
            transform: translateX(-50%) translateY(-50%);
        }
    }
}

#index-page {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 20;

    .content {
        height: 100vh;

        .logo {
            max-width: 60vw;

            -webkit-filter: invert(0.9);
            filter: invert(0.9);
        }

        .m-c {
            display: inline-block;
            position: relative;
            padding-top: 55px;
            height: 80px;
            margin-top: 40px;
            color: white;
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            text-decoration: none !important;
            outline: none !important;

            -webkit-filter: invert(0.9);
            filter: invert(0.9);

            &:before {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                width: 40px;
                height: 40px;
                opacity: 0.8;

                @include transition(200ms);

                background: {
                    repeat: no-repeat;
                    position: top left;
                }
            }

            @for $i from 1 through 5 {
                &.m-c-#{$i}:before {
                    background-image: url("/images/site/m-c-#{$i}.png");
                }
            }

            &:hover {
                &:before {
                    opacity: 1;
                }
            }
        }

        .eff1 {
            position: relative;

            &:hover {
                &:before {
                    opacity: 1;
                }
            }

            &:before {
                content: "";
                pointer-events: none;
                background: url("/images/site/effects/ws1.png");
                background-repeat: no-repeat;
                background-size: 150px;
                background-position: 50% 50%;
                top: 50%;
                left: 50%;

                width: 150px;
                height: 120px;
                margin-top: -60px;
                margin-left: -75px;
                opacity: 0;

                @include transition(350ms);
                position: absolute;
            }
        }

        .eff2 {
            position: relative;

            &:hover {
                &:before {
                    opacity: 0.9;

                    @include transform(scale(1));
                }

                &:after {
                    opacity: 0.8;
                    @include transform(scale(1));
                }
            }

            &:before {
                content: "";
                pointer-events: none;
                background: url("/images/site/effects/ww1.png");
                background-repeat: no-repeat;
                background-size: 150px;
                background-position: 50% 50%;

                width: 150px;
                height: 130px;
                top: 70%;
                left: 30%;
                margin-top: -60px;
                margin-left: -75px;
                opacity: 0;

                @include transition(350ms);

                @include transform(scale(0.8));

                position: absolute;

                z-index: -1;
            }

            &:after {
                content: "";
                pointer-events: none;
                background: url("/images/site/effects/ww2.png");
                background-repeat: no-repeat;
                background-size: 100px;
                background-position: 50% 50%;

                width: 100px;
                height: 100px;
                top: 38%;
                left: 65%;
                margin-top: -50px;
                margin-left: -50px;
                opacity: 0;

                @include transition(650ms);

                @include transform(scale(0.8));

                position: absolute;

                z-index: -1;
            }
        }

        .eff3 {
            position: relative;

            &:hover {
                &:before {
                    width: 150px;
                    height: 150px;
                    margin-top: -75px;
                    margin-left: -75px;
                    background: rgba(255, 255, 255, 0);
                    opacity: 1;
                }
            }

            &:before {
                content: "";
                pointer-events: none;
                background: rgba(255, 255, 255, 0.8);
                top: 50%;
                left: 50%;
                border-radius: 100%;

                width: 30px;
                height: 30px;
                margin-top: -15px;
                margin-left: -15px;
                opacity: 0;

                @include transition(350ms);
                position: absolute;
            }
        }

        .eff4 {
            &:hover {
                .m-c:before {
                    top: -7px;
                }
            }
        }

        .eff5 {
            .m-c {
                @include transition(250ms);
                @include transform(scale(1));
            }

            &:hover {
                .m-c {
                    @include transform(scale(1.1));
                }
            }
        }
    }

    .dwexpo {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
}

// extra small devices
@media (max-width: 767px) {
    #index-page {
        .dwexpo {
            bottom: 50%;
            transform: translateY(20%);
            img {
                width: 90px;
            }
        }
    }
}

@media (max-width: 767px) {
    .menu {
        .nav {
            width: 100vw;
            right: -100vw;

            a {
            }
        }
    }
}

@media (min-aspect-ratio: 16/9) {
    #slideshow {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    #slideshow {
        width: 300%;
        left: -100%;
    }
}
