/*------------------------- Grid -------------------------*/
.places-grid {
  margin-bottom: 30px; }
  .places-grid #map {
    width: 100%;
    height: 530px;
    background-color: #252525;
    margin-bottom: 40px; }
  .places-grid .filter-row {
    height: 87px; }
    .places-grid .filter-row h2 {
      font-weight: 500;
      color: #252525;
      text-transform: uppercase;
      font-size: 1.1428571428571428571428571428571rem; }
    .places-grid .filter-row h3 {
      font-weight: 500;
      color: #252525;
      text-transform: uppercase;
      font-size: 1.1428571428571428571428571428571rem; }
    .places-grid .filter-row .filter {
      text-align: right; }
      .places-grid .filter-row .filter .sort {
        font-size: 1rem;
        margin-left: 25px;
        color: #252525;
        cursor: pointer;
        font-weight: 400; }
        .places-grid .filter-row .filter .sort .fa {
          font-size: 0.71428571428571428571428571428571rem; }
  .places-grid .item-href {
    text-transform: none;
    text-decoration: none; }
  .places-grid .item {
    width: 100%;
    outline: 1px solid #eee;
    outline-offset: -1px;
    background: white;
    overflow: hidden;
    margin-bottom: 40px;
    -webkit-transition: box-shadow 500ms;
    -moz-transition: box-shadow 500ms;
    -ms-transition: box-shadow 500ms;
    -o-transition: box-shadow 500ms;
    transition: box-shadow 500ms; }
    .places-grid .item:hover {
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); }
      .places-grid .item:hover .thumb .overlay {
        opacity: 1; }
    .places-grid .item .thumb {
      display: block;
      width: 100%;
      padding-top: 100%;
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 5; }
      .places-grid .item .thumb .overlay {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 6;
        opacity: 0;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -ms-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;
        background-color: rgba(0, 0, 0, 0.75);
        background-image: url("/images/about/hover-zoom.png");
        background-position: center;
        background-repeat: no-repeat; }
    .places-grid .item .desc {
      padding: 30px 0px;
      width: 100%; }
      .places-grid .item .desc .name {
        font-size: 1.2857142857142857142857142857143rem;
        color: #252525;
        text-transform: uppercase;
        font-weight: 500; }
      .places-grid .item .desc .tags {
        margin: 20px 0;
        padding: 0;
        text-align: left;
        color: #888;
        list-style: none;
        display: block;
        width: 100%; }
        .places-grid .item .desc .tags li {
          display: inline-block;
          text-transform: capitalize;
          margin: 0 20px 0 0; }
          .places-grid .item .desc .tags li .fa {
            margin-right: 5px; }
          .places-grid .item .desc .tags li:last-child {
            margin: 0; }
      .places-grid .item .desc .address {
        font-size: 1rem;
        color: #252525; }
  .places-grid .btn-lazy-load {
    display: inline-block;
    padding: 12px 26px;
    margin: 20px 0 40px 0;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.85714285714285714285714285714286rem;
    background: #d2a637;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    -webkit-transition: background 300ms;
    -moz-transition: background 300ms;
    -ms-transition: background 300ms;
    -o-transition: background 300ms;
    transition: background 300ms; }
    .places-grid .btn-lazy-load:hover {
      background: #d7af4c; }
    .places-grid .btn-lazy-load .arrow-right {
      display: inline-block;
      height: 7px;
      width: 12px;
      background-image: url("/images/catalog/arrow-right.png");
      background-repeat: no-repeat;
      margin-left: 20px; }

/*------------------------- Model -------------------------*/
span.hairline {
  font-weight: 300; }

.product-card {
  margin-top: 87px; }
  .product-card .product-row {
    margin-bottom: 60px; }
    .product-card .product-row h2 {
      text-transform: uppercase;
      font-size: 1.7142857142857142857142857142857rem;
      color: #252525;
      line-height: 1.7142857142857142857142857142857rem;
      margin-top: 0;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 23px; }
    .product-card .product-row .badge {
      font-size: 0.71428571428571428571428571428571rem;
      color: white;
      background: #d2a637;
      border-radius: 20px;
      text-transform: uppercase;
      display: inline-block;
      padding: 10px 20px;
      letter-spacing: 1px;
      margin: 0;
      -webkit-transition: background 300ms;
      -moz-transition: background 300ms;
      -ms-transition: background 300ms;
      -o-transition: background 300ms;
      transition: background 300ms; }
      .product-card .product-row .badge:hover {
        background: #d7af4c; }
    .product-card .product-row hr {
      margin: 25px 0;
      height: 1px;
      background: #eee;
      border: none; }
    .product-card .product-row p {
      font-size: 1.1428571428571428571428571428571rem;
      color: #888;
      margin: 0;
      line-height: 125%;
      letter-spacing: 1px; }
    .product-card .product-row .attributes {
      list-style: none;
      margin: 30px 0 5px 0;
      padding: 0; }
      .product-card .product-row .attributes li {
        font-size: 1.1428571428571428571428571428571rem;
        color: #888;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 15px; }
        .product-card .product-row .attributes li b {
          color: #252525;
          font-weight: 500; }
        .product-card .product-row .attributes li .material-label {
          text-transform: capitalize; }
          .product-card .product-row .attributes li .material-label::after {
            content: " / "; }
          .product-card .product-row .attributes li .material-label:last-child::after {
            display: none; }
    .product-card .product-row .materials {
      margin-top: 25px; }
      .product-card .product-row .materials .material-group {
        display: inline-block; }
        .product-card .product-row .materials .material-group::after {
          content: "";
          display: inline-block;
          background: #eee;
          width: 1px;
          height: 32px;
          margin: 0 13px 0 5px; }
        .product-card .product-row .materials .material-group:last-child::after {
          display: none; }
        .product-card .product-row .materials .material-group .material-link {
          display: inline-block;
          width: 32px;
          height: 32px;
          border: 2px solid #888;
          margin-right: 8px;
          background-size: cover;
          background-position: center; }
    .product-card .product-row .pdf-link {
      display: block;
      font-size: 1.1428571428571428571428571428571rem;
      color: #d2a637;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1px;
      margin-bottom: 20px; }
      .product-card .product-row .pdf-link .fa {
        margin-right: 8px;
        font-size: 1.2857142857142857142857142857143rem; }
    .product-card .product-row .btn-gold-outlined {
      display: inline-block;
      width: 200px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      margin: 10px 20px 10px 0;
      border-radius: 20px;
      color: #d2a637;
      text-decoration: none;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 1rem;
      background: rgba(210, 166, 55, 0);
      letter-spacing: 1px;
      border: 2px solid #d2a637;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -ms-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms; }
      .product-card .product-row .btn-gold-outlined:last-child {
        margin-right: 0; }
      .product-card .product-row .btn-gold-outlined:hover {
        color: white;
        background: #d2a637; }
  .product-card .product-slider {
    width: 100%;
    height: 510px;
    background: #252525;
    position: relative;
    overflow: hidden; }
    .product-card .product-slider .item {
      display: block;
      width: 100%;
      height: 510px;
      background-size: cover;
      background-position: center; }
    .product-card .product-slider .owl-prev, .product-card .product-slider .owl-next {
      display: block;
      position: absolute;
      top: 45%;
      font-size: 30px;
      color: #252525; }
    .product-card .product-slider .owl-prev {
      left: 25px; }
    .product-card .product-slider .owl-next {
      right: 25px; }
    .product-card .product-slider .owl-dots {
      display: block;
      position: absolute;
      right: 40px;
      bottom: 30px;
      counter-reset: dots; }
      .product-card .product-slider .owl-dots:before {
        display: inline-block;
        content: "";
        width: 90px;
        height: 2px;
        margin: 0 20px 5px 0;
        background: #252525; }
      .product-card .product-slider .owl-dots .owl-dot {
        display: inline-block;
        margin-left: 5px;
        width: 30px;
        text-align: center; }
        .product-card .product-slider .owl-dots .owl-dot:before {
          font-family: "Open Sans";
          font-size: 20px;
          color: #252525;
          font-weight: 500;
          letter-spacing: 1px;
          counter-increment: dots;
          content: "0" counter(dots); }
        .product-card .product-slider .owl-dots .owl-dot.active:before {
          font-size: 26px;
          font-weight: 700; }

/*# sourceMappingURL=places.css.map */
