/*------------------------- Select2 -------------------------*/
label[for="city_select"], label[for="country_select"] {
  margin-right: 20px; }

#city_select, #country_select {
  opacity: 0; }

.select2-selection {
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #454545 !important;
  text-align: left !important;
  outline: none !important; }

.select2-search__field {
  outline: none !important;
  border: 1px solid #eee !important; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #252525 !important;
  font-size: 1rem !important; }

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 3px !important; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #fafafa !important; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #d2a637 !important; }

.select2-dropdown {
  border-radius: 0 !important;
  border: none !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25); }

/*------------------------- Select2 -------------------------*/
/*------------------------- Grid -------------------------*/
.places-grid {
  margin-bottom: 30px; }
  .places-grid #map {
    width: 100%;
    height: 530px;
    background-color: #252525;
    margin-bottom: 40px; }
  .places-grid .filter-row {
    height: 87px; }
    .places-grid .filter-row h2 {
      font-weight: 500;
      color: #252525;
      text-transform: uppercase;
      font-size: 1.1428571428571428571428571428571rem; }
    .places-grid .filter-row h3 {
      font-weight: 500;
      color: #252525;
      text-transform: uppercase;
      font-size: 1.1428571428571428571428571428571rem; }
    .places-grid .filter-row .filter {
      text-align: left; }
      .places-grid .filter-row .filter .sort {
        font-size: 1rem;
        margin-left: 25px;
        color: #252525;
        cursor: pointer;
        font-weight: 400; }
        .places-grid .filter-row .filter .sort .fa {
          font-size: 0.71428571428571428571428571428571rem; }
  .places-grid .item-href {
    text-transform: none;
    text-decoration: none; }
  .places-grid .item {
    width: 100%;
    outline: 1px solid #eee;
    outline-offset: -1px;
    background: white;
    overflow: hidden;
    margin-bottom: 40px;
    -webkit-transition: box-shadow 500ms;
    -moz-transition: box-shadow 500ms;
    -ms-transition: box-shadow 500ms;
    -o-transition: box-shadow 500ms;
    transition: box-shadow 500ms; }
    .places-grid .item:hover {
      cursor: default;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); }
    .places-grid .item .thumb {
      display: block;
      width: 100%;
      padding-top: 82%;
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 5; }
      .places-grid .item .thumb .overlay {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 6;
        opacity: 0;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -ms-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;
        background-color: rgba(0, 0, 0, 0.75);
        background-image: url("/images/about/hover-zoom.png");
        background-position: center;
        background-repeat: no-repeat; }
    .places-grid .item .desc {
      padding: 20px 0px;
      width: 100%; }
      .places-grid .item .desc .name {
        font-size: 1.2857142857142857142857142857143rem;
        color: #252525;
        text-transform: uppercase;
        font-weight: 500; }
      .places-grid .item .desc .tags {
        margin: 15px 0;
        padding: 0;
        text-align: left;
        color: #888;
        list-style: none;
        display: block;
        width: 100%; }
        .places-grid .item .desc .tags li {
          display: inline-block;
          text-transform: capitalize;
          margin: 0 20px 0 0; }
          .places-grid .item .desc .tags li .fa {
            margin-right: 5px; }
          .places-grid .item .desc .tags li.email {
            text-transform: none;
            cursor: pointer; }
          .places-grid .item .desc .tags li:last-child {
            margin: 0; }
      .places-grid .item .desc .address {
        font-size: 1rem;
        color: #252525; }
  .places-grid .tooltip {
    position: relative;
    display: inline-block; }
    .places-grid .tooltip:hover .tooltiptext {
      opacity: 1; }
    .places-grid .tooltip .tooltiptext {
      opacity: 0;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      pointer-events: none;
      border-radius: 6px;
      padding: 5px 0;
      transition: opacity .5s;
      position: absolute;
      z-index: 1;
      bottom: 120%;
      left: 50%;
      margin-left: -60px; }
      .places-grid .tooltip .tooltiptext::after {
        content: ' ';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent; }
  .places-grid .btn-lazy-load {
    display: inline-block;
    padding: 12px 26px;
    margin: 20px 10px 40px 10px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.85714285714285714285714285714286rem;
    background: #d2a637;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    -webkit-transition: background 300ms;
    -moz-transition: background 300ms;
    -ms-transition: background 300ms;
    -o-transition: background 300ms;
    transition: background 300ms; }
    .places-grid .btn-lazy-load:hover {
      background: #d7af4c; }
    .places-grid .btn-lazy-load .arrow-right {
      display: inline-block;
      height: 7px;
      width: 12px;
      background-image: url("/images/catalog/arrow-right.png");
      background-repeat: no-repeat;
      margin-left: 20px; }

@media (max-width: 1023px) {
  .places-grid .item .row {
    margin-right: -1rem;
    margin-left: -1rem; }
  .places-grid .item .desc {
    padding-right: 30px; }
    .places-grid .item .desc .name {
      font-size: 1rem;
      color: #252525;
      text-transform: uppercase;
      font-weight: 500; }
    .places-grid .item .desc .tags {
      margin: 10px 0; }
      .places-grid .item .desc .tags li {
        display: inline-block;
        text-transform: capitalize;
        margin: 0 20px 0 0; }
        .places-grid .item .desc .tags li .fa {
          margin-right: 5px; }
        .places-grid .item .desc .tags li:last-child {
          margin: 0; }
    .places-grid .item .desc .address {
      font-size: 1rem;
      color: #252525; } }

/*# sourceMappingURL=index.css.map */
