//@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&amp;subset=cyrillic);

@mixin transition ($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}

$lightestgrey: #eee;
$lightergrey: #888;
$lightgrey: #454545;
$grey: #252525;
$gold: #d2a637;

/*------------------------- Select2 -------------------------*/
label[for="city_select"], label[for="country_select"]{
    margin-right: 20px;
}
#city_select, #country_select{
    opacity: 0;
}
.select2-selection {
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid $lightgrey !important;
    text-align: left !important;
    outline: none !important;
}
.select2-search__field{
    outline: none !important;
    border: 1px solid #eee !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: $grey !important;
    font-size: 1rem !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 3px !important;
}
.select2-container--default .select2-results__option[aria-selected=true]{
    background-color: #fafafa !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: $gold !important;
}
.select2-dropdown{
    border-radius: 0 !important;
    border: none !important;
    box-shadow: 0 0 8px rgba(0,0,0,0.25);
}
/*------------------------- Select2 -------------------------*/

/*------------------------- Grid -------------------------*/
.places-grid{
    margin-bottom: 30px;

    & #map{
        width: 100%;
        height: 530px;
        background-color: $grey;
        margin-bottom: 40px;
    }
    & .filter-row{
        height: 87px;

        & h2{
            font-weight: 500;
            color: $grey;
            text-transform: uppercase;
            font-size: 1.1428571428571428571428571428571rem;
        }
        & h3{
            font-weight: 500;
            color: $grey;
            text-transform: uppercase;
            font-size: 1.1428571428571428571428571428571rem;
        }

        & .filter{
            text-align: left;

            & .sort{
                font-size: 1rem;
                margin-left: 25px;
                color: $grey;
                cursor: pointer;
                font-weight: 400;

                & .fa{
                    font-size: 0.71428571428571428571428571428571rem;
                }
            }
        }
    }

    .item-href{
        text-transform: none;
        text-decoration: none;
    }
    & .item{
        width: 100%;
        outline: 1px solid $lightestgrey;
        outline-offset: -1px;
        background: white;
        overflow: hidden;
        margin-bottom: 40px;

        @include transition(box-shadow 500ms);

        &:hover{
            cursor: default;
            box-shadow: 0px 0px 40px rgba(0,0,0,0.15);
            .thumb{
                .overlay{
                    //opacity: 1;
                }
            }
        }

        .thumb{
            display: block;
            width: 100%;
            padding-top: 82%;
            position: relative;
            background: {
                size: cover;
                position: center;
                repeat: no-repeat;
            };

            z-index: 5;

            .overlay{
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 6;

                opacity: 0;
                @include transition(opacity 500ms);

                background: {
                    color: rgba(0,0,0,0.75);
                    image: url('/images/about/hover-zoom.png');
                    position: center;
                    repeat: no-repeat;
                };
            }
        }
        & .desc{
            padding: 20px 0px;
            width: 100%;

            & .name{
                font-size: 1.2857142857142857142857142857143rem;
                color: $grey;
                text-transform: uppercase;
                font-weight: 500;
            }
            .tags{
                margin: 15px 0;
                padding: 0;
                text-align: left;
                color: $lightergrey;
                list-style: none;
                display: block;
                width: 100%;

                li{
                    display: inline-block;
                    text-transform: capitalize;
                    margin: 0 20px 0 0;

                    .fa{
                        margin-right: 5px;
                    }

                    &.email {
                        text-transform: none;
                        cursor: pointer;
                    }

                    &:last-child{
                        margin: 0;
                    }
                }
            }
            & .address{
                font-size: 1rem;
                color: $grey;
            }
        }
    }

    .tooltip {
        position: relative;
        display: inline-block;

        &:hover .tooltiptext {
            opacity: 1;
        }

        .tooltiptext {
            opacity: 0;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            pointer-events: none;
            border-radius: 6px;
            padding: 5px 0;
            transition: opacity .5s;
            position: absolute;
            z-index: 1;
            bottom: 120%;
            left: 50%;
            margin-left: -60px;

            &::after {
                content: ' ';
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: black transparent transparent transparent;
            }
        }
    }

    .btn-lazy-load {
        display: inline-block;
        padding: 12px 26px;
        margin: 20px 10px 40px 10px;
        border-radius: 20px;
        color: white;
        text-decoration: none;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 0.85714285714285714285714285714286rem;
        background: $gold;
        box-shadow: 0 0 5px rgba(0,0,0,0.25);

        @include transition(background 300ms);

        &:hover{
            background: lighten($gold, 5%);
        }

        & .arrow-right{
            display: inline-block;
            height: 7px;
            width: 12px;
            background-image: url('/images/catalog/arrow-right.png');
            background-repeat: no-repeat;
            margin-left: 20px;
        }
    }
}

@media (max-width: 1023px) {

    .places-grid .item {
        .row {
            margin-right: -1rem;
            margin-left: -1rem;
        }

        & .desc{
            padding-right: 30px;

            & .name{
                font-size: 1rem;
                color: $grey;
                text-transform: uppercase;
                font-weight: 500;
            }
            .tags{
                margin: 10px 0;

                li{
                    display: inline-block;
                    text-transform: capitalize;
                    margin: 0 20px 0 0;

                    .fa{
                        margin-right: 5px;
                    }

                    &:last-child{
                        margin: 0;
                    }
                }
            }
            & .address{
                font-size: 1rem;
                color: $grey;
            }
        }
    }

}