@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&amp;subset=cyrillic);

@mixin transition ($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}

$lightestgrey: #eee;
$lightergrey: #888;
$lightgrey: #454545;
$grey: #252525;
$darkgrey: #1a1a1a;
$gold: #d2a637;

.m-b-20{
    margin-bottom: 20px !important;
}

/*------------------------- Grid -------------------------*/
.interiors-grid{
    margin: 87px 0 45px 0;


    .item-href{
        text-transform: none;
        text-decoration: none;
        position: relative;
    }
    .winner-badge{
        position: absolute;
        width: 40px;
        height: 45px;
        left: 15px;
        top: -7px;
        text-align: center;
        background: $gold;
        z-index: 7;

        @include transition(background 300ms);

        .fa{
            color: white;
            line-height: 45px;
            font-size: 18px;
        }

        &:hover{
            background: lighten($gold, 5%);
        }

    }
    
    .winner-badge2{
        position: absolute;
        width: 40px;
        height: 45px;
        left: 190px;
        top: -7px;
        text-align: center;
        background: $gold;
        z-index: 7;

        @include transition(background 300ms);

        .fa{
            color: white;
            line-height: 45px;
            font-size: 18px;
        }

        &:hover{
            background: lighten($gold, 5%);
        }

    }    
    .item{
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 40px;
        background: white;

        z-index: 1;

        @include transition(box-shadow 500ms);

        &:hover{
            box-shadow: 0px 0px 40px rgba(0,0,0,0.15);
            .thumb{
                .overlay{
                    opacity: 1;
                }
            }
        }

        .thumb{
            display: block;
            width: 100%;
            padding-top: 92%;
            position: relative;
            background: {
                size: cover;
                position: center;
                repeat: no-repeat;
            };

            z-index: 5;

            .overlay{
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 6;

                opacity: 0;
                @include transition(opacity 500ms);

                background: {
                    color: rgba(0,0,0,0.75);
                    image: url('/images/about/hover-zoom.png');
                    position: center;
                    repeat: no-repeat;
                };
            }
        }

        .infobar{
            position: relative;
            display: block;
            width: 100%;
            height: 50px;
            background: $grey;
            overflow: hidden;

            .designer{
                .avatar{
                    position: absolute;
                    display: block;
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    border: 2px solid white;
                    top: 10px;
                    left: 15px;
                    background: {
                        size: cover;
                        position: center;
                    };
                }
                .name{
                    position: absolute;
                    top: 15px;
                    left: 55px;
                    font-family: "Open Sans";
                    font-size: 1rem;
                    color: white;
                    text-transform: capitalize;
                }
            }

            .images-counter{
                position: absolute;
                top:0;
                right: 0;
                bottom: 0;
                width: 70px;
                background: $lightgrey;
                color: white;
                text-align: center;

                .icon-clone{
                    display: inline-block;
                    width: 15px;
                    height: 17px;
                    margin-right: 10px;
                    background-image: url('/images/interior/icon-clone.png');
                }
                span{
                    font-size: 1.2857142857142857142857142857143rem;
                    font-family: "Open Sans";
                    line-height: 50px;
                    display: block;
                    width: 100%;
                    padding-left: 25px;
                    background: {
                        image: url('/images/interior/icon-clone.png');
                        repeat: no-repeat;
                        position: 18px center;
                    }
                }
            }
        }

        .desc{
            height: 160px;
            padding: 20px 20px;
            text-align: center;
            color: $grey;
            overflow: hidden;

            outline: 1px solid $lightestgrey;
            outline-offset: -1px;

            &:before{
                display: block;
                content: "";
                position: absolute;
                bottom: 1px;
                left: 1px;
                right: 1px;
                height: 30px;

                z-index: 10;

                background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
            }

            .name{
                font-size: 1.2857142857142857142857142857143rem;
                font-weight: 500;
                text-transform: uppercase;
                margin-bottom: 15px;
            }
            .shortdesc{
                font-size: 1rem;
                color: $grey;
                line-height: 1.4285714285714285714285714285714rem;
                letter-spacing: 1px;
            }
        }

        .btn-more {
            position: absolute;
            bottom: 25px;
            display: block;
            height: 40px;
            width: 170px;
            left: 50%;
            margin-left: -85px;
            line-height: 40px;
            border-radius: 20px;
            letter-spacing: 1px;
            text-decoration: none;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 1rem;

            z-index: 20;

            color: $gold;
            background: transparentize($gold, 1);
            border: 2px solid $gold;

            .fa{
                margin-left: 5px;
            }

            @include transition(300ms);

            &:hover{
                color: white;
                background: $gold;
            }
        }

        &.item-storage{
            .thumb {
                background: {
                    color: $gold;
                }
            }
            .ext{
                position: absolute;
                color: white;
                padding-top: calc(45% - 25px);
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                line-height: 100%;
                font-size: 50px;
            }
            .desc{
                height: 85px;
            }
        }
    }

    .btn-lazy-load {
        display: inline-block;
        padding: 12px 26px;
        margin: 0 10px 20px 10px;
        border-radius: 20px;
        color: white;
        text-decoration: none;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 0.85714285714285714285714285714286rem;
        background: $gold;
        box-shadow: 0 0 5px rgba(0,0,0,0.25);

        @include transition(background 300ms);

        &:hover{
            background: lighten($gold, 5%);
        }

    }
}


/*------------------------- Model -------------------------*/

span.hairline{
    font-weight: 300;
}

.design-page{
    margin-top: 87px;

    .design-row{
        margin-bottom: 60px;


        .design-photos{
            width: 100%;

            .item{
                display: block;
                padding-top: 78%;
                margin-bottom: 35px;
                background: {
                    size: cover;
                    position: center;
                };
            }
        }

        .designer{
            margin-bottom: 90px;
            .avatar{
                width: 155px;
                height: 155px;
                margin: auto;
                border-radius: 100%;
                background: {
                    size: cover;
                    position: center;
                };
            }
            h2{
                margin-top: 30px;
                margin-bottom: 15px;
                text-align: center;
            }
            .job{
                font-size: 1.1428571428571428571428571428571rem;
                font-weight: 300;
                display: block;
                text-align: center;
                text-transform: uppercase;
            }
            .winner{
                font-size: 1rem;
                font-weight: 300;
                margin: auto;
                margin-top: 15px;
                color: white;
                background: $gold;
                display: block;
                text-align: center;
                /*text-transform: uppercase;*/
                width: 172px;
                height: 30px;
                line-height: 30px;
                border-radius: 15px;
                cursor: default !important;

                & .fa {
                    margin-right: 5px;
                }

                @include transition(background 300ms);

                &:hover{
                    background: lighten($gold, 5%);
                }
            }
        }

        h2{
            text-transform: uppercase;
            font-size: 1.7142857142857142857142857142857rem;
            color: $grey;
            line-height: 1.7142857142857142857142857142857rem;
            margin-top: 0;
            font-weight: 500;
            letter-spacing: 1px;
            margin-bottom: 23px;
        }
        hr {
            margin: 25px 0;
            height: 1px;
            background: #eee;
            border: none;
        }

        p {
            font-size: 1.1428571428571428571428571428571rem;
            color: $lightergrey;
            margin: 0;
            line-height: 125%;
            letter-spacing: 1px;
        }

        .attributes {
            list-style: none;
            margin: 30px 0 5px 0;
            padding: 0;

            li {
                font-size: 1.1428571428571428571428571428571rem;
                color: $lightergrey;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 15px;

                b {
                    color: $grey;
                    font-weight: 500;
                }
            }
        }
    }
}

.order-modal{
    display: none;
    background: rgba(0,0,0,0.93);
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 200;

    .order-container{
        position: relative;
        width: 70vw;
        margin: auto;
        background: white;
        padding: 50px;
        max-width: 460px;

        p{
            font-size: 1.1428571428571428571428571428571rem;
            color: $grey;
            margin: 0 0 25px 0;
            line-height: 125%;
            letter-spacing: 1px;
        }

        h3 {
            font-size: 1.7142857142857142857142857142857rem;
            color: $grey;
            text-transform: uppercase;
            text-align: center;
            width: 100%;
            letter-spacing: 1px;
            font-weight: 500;
            margin: 0 0 45px 0;
        }

        input,select{
            height: 45px;
            line-height: 45px;
            padding: 0 22px;
            width: 100%;
            font-size: 1.1428571428571428571428571428571rem;
            border-radius: 4px;
            border: 1px solid #d2d2d2;
            background: #fafafa;
            color: $lightergrey;
            outline: none;
            margin-bottom: 15px;

            @include placeholder {
                color: #c2c2c2;
            }
        }
        textarea{
            height: 150px;
            line-height: 120%;
            padding: 15px 22px;
            width: 100%;
            font-size: 1.1428571428571428571428571428571rem;
            border-radius: 4px;
            border: 1px solid #d2d2d2;
            background: #fafafa;
            color: $lightergrey;
            outline: none;
            margin-bottom: 15px;
            resize: none;

            @include placeholder {
                color: #c2c2c2;
            }
        }
        button[type="submit"] {
            display: inline-block;
            padding: 12px 26px;
            margin: 0 0 20px 0;
            border-radius: 20px;
            border: none;
            outline: none;
            letter-spacing: 1px;
            color: white;
            text-decoration: none;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 0.85714285714285714285714285714286rem;
            background: $gold;
            box-shadow: 0 0 5px rgba(0,0,0,0.25);

            @include transition(background 300ms);

            &:hover{
                background: lighten($gold, 5%);
            }
        }
        .help-block{
            margin-top: -5px;
            margin-bottom: 10px;
            text-align: left;
            padding-left: 23px;
            color: $gold;
        }

        #feedbackform-captcha-image{
            float: left;
            margin-top: -5px;
            margin-bottom: 5px;
        }
    }

    .btn-close{
        display: block;
        position: fixed;
        right: 30px;
        top: 30px;
        width: 38px;
        height: 38px;
        cursor: pointer;

        z-index: 50;

        span{
            display: block;
            height: 4px;
            position: absolute;
            width: 38px;
            background: #FFF;

            &:nth-child(1){
                top: 13px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &:nth-child(2){
                top: 13px;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
    }
}


.tab {
    input,select{
        height: 45px;
        line-height: 45px;
        padding: 0 22px;
        width: 100%;
        font-size: 1.1428571428571428571428571428571rem;
        border-radius: 4px;
        border: 1px solid #d2d2d2;
        background: #fafafa;
        color: $lightergrey;
        outline: none;
        margin-bottom: 15px;

        &[type="checkbox"]{
            height: auto;
            width: auto;
        }

        @include placeholder {
            color: #c2c2c2;
        }
    }
    textarea{
        height: 150px;
        line-height: 120%;
        padding: 15px 22px;
        width: 100%;
        font-size: 1.1428571428571428571428571428571rem;
        border-radius: 4px;
        border: 1px solid #d2d2d2;
        background: #fafafa;
        color: $lightergrey;
        outline: none;
        margin-bottom: 15px;
        resize: none;

        @include placeholder {
            color: #c2c2c2;
        }
    }
    button[type="submit"] {
        display: inline-block;
        padding: 12px 26px;
        margin: 0 0 20px 0;
        border-radius: 20px;
        border: none;
        outline: none;
        letter-spacing: 1px;
        color: white;
        text-decoration: none;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 0.85714285714285714285714285714286rem;
        background: $gold;
        box-shadow: 0 0 5px rgba(0,0,0,0.25);

        @include transition(background 300ms);

        &:hover{
            background: lighten($gold, 5%);
        }
    }

    .help-block{
        margin-top: -5px;
        margin-bottom: 10px;
        text-align: left;
        padding-left: 23px;
        color: $gold;
    }

    #feedbackform-captcha-image{
        float: left;
        margin-top: -5px;
        margin-bottom: 5px;
    }
}


@media (max-width: 1023px) {
    .design-page{
        .design-row{
            .designer{
                margin-top: 60px;
            }
        }
    }
}