@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&amp;subset=cyrillic);
.m-b-20 {
  margin-bottom: 20px !important; }

/*------------------------- Grid -------------------------*/
.interiors-grid {
  margin: 87px 0 45px 0; }
  .interiors-grid .item-href {
    text-transform: none;
    text-decoration: none;
    position: relative; }
  .interiors-grid .winner-badge {
    position: absolute;
    width: 40px;
    height: 45px;
    left: 15px;
    top: -7px;
    text-align: center;
    background: #d2a637;
    z-index: 7;
    -webkit-transition: background 300ms;
    -moz-transition: background 300ms;
    -ms-transition: background 300ms;
    -o-transition: background 300ms;
    transition: background 300ms; }
    .interiors-grid .winner-badge .fa {
      color: white;
      line-height: 45px;
      font-size: 18px; }
    .interiors-grid .winner-badge:hover {
      background: #d7af4c; }
  .interiors-grid .winner-badge2 {
    position: absolute;
    width: 40px;
    height: 45px;
    left: 190px;
    top: -7px;
    text-align: center;
    background: #d2a637;
    z-index: 7;
    -webkit-transition: background 300ms;
    -moz-transition: background 300ms;
    -ms-transition: background 300ms;
    -o-transition: background 300ms;
    transition: background 300ms; }
    .interiors-grid .winner-badge2 .fa {
      color: white;
      line-height: 45px;
      font-size: 18px; }
    .interiors-grid .winner-badge2:hover {
      background: #d7af4c; }
  .interiors-grid .item {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    background: white;
    z-index: 1;
    -webkit-transition: box-shadow 500ms;
    -moz-transition: box-shadow 500ms;
    -ms-transition: box-shadow 500ms;
    -o-transition: box-shadow 500ms;
    transition: box-shadow 500ms; }
    .interiors-grid .item:hover {
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); }
      .interiors-grid .item:hover .thumb .overlay {
        opacity: 1; }
    .interiors-grid .item .thumb {
      display: block;
      width: 100%;
      padding-top: 92%;
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 5; }
      .interiors-grid .item .thumb .overlay {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 6;
        opacity: 0;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -ms-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;
        background-color: rgba(0, 0, 0, 0.75);
        background-image: url("/images/about/hover-zoom.png");
        background-position: center;
        background-repeat: no-repeat; }
    .interiors-grid .item .infobar {
      position: relative;
      display: block;
      width: 100%;
      height: 50px;
      background: #252525;
      overflow: hidden; }
      .interiors-grid .item .infobar .designer .avatar {
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 2px solid white;
        top: 10px;
        left: 15px;
        background-size: cover;
        background-position: center; }
      .interiors-grid .item .infobar .designer .name {
        position: absolute;
        top: 15px;
        left: 55px;
        font-family: "Open Sans";
        font-size: 1rem;
        color: white;
        text-transform: capitalize; }
      .interiors-grid .item .infobar .images-counter {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 70px;
        background: #454545;
        color: white;
        text-align: center; }
        .interiors-grid .item .infobar .images-counter .icon-clone {
          display: inline-block;
          width: 15px;
          height: 17px;
          margin-right: 10px;
          background-image: url("/images/interior/icon-clone.png"); }
        .interiors-grid .item .infobar .images-counter span {
          font-size: 1.2857142857142857142857142857143rem;
          font-family: "Open Sans";
          line-height: 50px;
          display: block;
          width: 100%;
          padding-left: 25px;
          background-image: url("/images/interior/icon-clone.png");
          background-repeat: no-repeat;
          background-position: 18px center; }
    .interiors-grid .item .desc {
      height: 160px;
      padding: 20px 20px;
      text-align: center;
      color: #252525;
      overflow: hidden;
      outline: 1px solid #eee;
      outline-offset: -1px; }
      .interiors-grid .item .desc:before {
        display: block;
        content: "";
        position: absolute;
        bottom: 1px;
        left: 1px;
        right: 1px;
        height: 30px;
        z-index: 10;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
        /* IE6-9 */ }
      .interiors-grid .item .desc .name {
        font-size: 1.2857142857142857142857142857143rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 15px; }
      .interiors-grid .item .desc .shortdesc {
        font-size: 1rem;
        color: #252525;
        line-height: 1.4285714285714285714285714285714rem;
        letter-spacing: 1px; }
    .interiors-grid .item .btn-more {
      position: absolute;
      bottom: 25px;
      display: block;
      height: 40px;
      width: 170px;
      left: 50%;
      margin-left: -85px;
      line-height: 40px;
      border-radius: 20px;
      letter-spacing: 1px;
      text-decoration: none;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 1rem;
      z-index: 20;
      color: #d2a637;
      background: rgba(210, 166, 55, 0);
      border: 2px solid #d2a637;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -ms-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms; }
      .interiors-grid .item .btn-more .fa {
        margin-left: 5px; }
      .interiors-grid .item .btn-more:hover {
        color: white;
        background: #d2a637; }
    .interiors-grid .item.item-storage .thumb {
      background-color: #d2a637; }
    .interiors-grid .item.item-storage .ext {
      position: absolute;
      color: white;
      padding-top: calc(45% - 25px);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      line-height: 100%;
      font-size: 50px; }
    .interiors-grid .item.item-storage .desc {
      height: 85px; }
  .interiors-grid .btn-lazy-load {
    display: inline-block;
    padding: 12px 26px;
    margin: 0 10px 20px 10px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.85714285714285714285714285714286rem;
    background: #d2a637;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    -webkit-transition: background 300ms;
    -moz-transition: background 300ms;
    -ms-transition: background 300ms;
    -o-transition: background 300ms;
    transition: background 300ms; }
    .interiors-grid .btn-lazy-load:hover {
      background: #d7af4c; }

/*------------------------- Model -------------------------*/
span.hairline {
  font-weight: 300; }

.design-page {
  margin-top: 87px; }
  .design-page .design-row {
    margin-bottom: 60px; }
    .design-page .design-row .design-photos {
      width: 100%; }
      .design-page .design-row .design-photos .item {
        display: block;
        padding-top: 78%;
        margin-bottom: 35px;
        background-size: cover;
        background-position: center; }
    .design-page .design-row .designer {
      margin-bottom: 90px; }
      .design-page .design-row .designer .avatar {
        width: 155px;
        height: 155px;
        margin: auto;
        border-radius: 100%;
        background-size: cover;
        background-position: center; }
      .design-page .design-row .designer h2 {
        margin-top: 30px;
        margin-bottom: 15px;
        text-align: center; }
      .design-page .design-row .designer .job {
        font-size: 1.1428571428571428571428571428571rem;
        font-weight: 300;
        display: block;
        text-align: center;
        text-transform: uppercase; }
      .design-page .design-row .designer .winner {
        font-size: 1rem;
        font-weight: 300;
        margin: auto;
        margin-top: 15px;
        color: white;
        background: #d2a637;
        display: block;
        text-align: center;
        /*text-transform: uppercase;*/
        width: 172px;
        height: 30px;
        line-height: 30px;
        border-radius: 15px;
        cursor: default !important;
        -webkit-transition: background 300ms;
        -moz-transition: background 300ms;
        -ms-transition: background 300ms;
        -o-transition: background 300ms;
        transition: background 300ms; }
        .design-page .design-row .designer .winner .fa {
          margin-right: 5px; }
        .design-page .design-row .designer .winner:hover {
          background: #d7af4c; }
    .design-page .design-row h2 {
      text-transform: uppercase;
      font-size: 1.7142857142857142857142857142857rem;
      color: #252525;
      line-height: 1.7142857142857142857142857142857rem;
      margin-top: 0;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 23px; }
    .design-page .design-row hr {
      margin: 25px 0;
      height: 1px;
      background: #eee;
      border: none; }
    .design-page .design-row p {
      font-size: 1.1428571428571428571428571428571rem;
      color: #888;
      margin: 0;
      line-height: 125%;
      letter-spacing: 1px; }
    .design-page .design-row .attributes {
      list-style: none;
      margin: 30px 0 5px 0;
      padding: 0; }
      .design-page .design-row .attributes li {
        font-size: 1.1428571428571428571428571428571rem;
        color: #888;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 15px; }
        .design-page .design-row .attributes li b {
          color: #252525;
          font-weight: 500; }

.order-modal {
  display: none;
  background: rgba(0, 0, 0, 0.93);
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 200; }
  .order-modal .order-container {
    position: relative;
    width: 70vw;
    margin: auto;
    background: white;
    padding: 50px;
    max-width: 460px; }
    .order-modal .order-container p {
      font-size: 1.1428571428571428571428571428571rem;
      color: #252525;
      margin: 0 0 25px 0;
      line-height: 125%;
      letter-spacing: 1px; }
    .order-modal .order-container h3 {
      font-size: 1.7142857142857142857142857142857rem;
      color: #252525;
      text-transform: uppercase;
      text-align: center;
      width: 100%;
      letter-spacing: 1px;
      font-weight: 500;
      margin: 0 0 45px 0; }
    .order-modal .order-container input, .order-modal .order-container select {
      height: 45px;
      line-height: 45px;
      padding: 0 22px;
      width: 100%;
      font-size: 1.1428571428571428571428571428571rem;
      border-radius: 4px;
      border: 1px solid #d2d2d2;
      background: #fafafa;
      color: #888;
      outline: none;
      margin-bottom: 15px; }
      .order-modal .order-container input::-webkit-input-placeholder, .order-modal .order-container select::-webkit-input-placeholder {
        color: #c2c2c2; }
      .order-modal .order-container input:-moz-placeholder, .order-modal .order-container select:-moz-placeholder {
        color: #c2c2c2; }
      .order-modal .order-container input::-moz-placeholder, .order-modal .order-container select::-moz-placeholder {
        color: #c2c2c2; }
      .order-modal .order-container input:-ms-input-placeholder, .order-modal .order-container select:-ms-input-placeholder {
        color: #c2c2c2; }
    .order-modal .order-container textarea {
      height: 150px;
      line-height: 120%;
      padding: 15px 22px;
      width: 100%;
      font-size: 1.1428571428571428571428571428571rem;
      border-radius: 4px;
      border: 1px solid #d2d2d2;
      background: #fafafa;
      color: #888;
      outline: none;
      margin-bottom: 15px;
      resize: none; }
      .order-modal .order-container textarea::-webkit-input-placeholder {
        color: #c2c2c2; }
      .order-modal .order-container textarea:-moz-placeholder {
        color: #c2c2c2; }
      .order-modal .order-container textarea::-moz-placeholder {
        color: #c2c2c2; }
      .order-modal .order-container textarea:-ms-input-placeholder {
        color: #c2c2c2; }
    .order-modal .order-container button[type="submit"] {
      display: inline-block;
      padding: 12px 26px;
      margin: 0 0 20px 0;
      border-radius: 20px;
      border: none;
      outline: none;
      letter-spacing: 1px;
      color: white;
      text-decoration: none;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 0.85714285714285714285714285714286rem;
      background: #d2a637;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      -webkit-transition: background 300ms;
      -moz-transition: background 300ms;
      -ms-transition: background 300ms;
      -o-transition: background 300ms;
      transition: background 300ms; }
      .order-modal .order-container button[type="submit"]:hover {
        background: #d7af4c; }
    .order-modal .order-container .help-block {
      margin-top: -5px;
      margin-bottom: 10px;
      text-align: left;
      padding-left: 23px;
      color: #d2a637; }
    .order-modal .order-container #feedbackform-captcha-image {
      float: left;
      margin-top: -5px;
      margin-bottom: 5px; }
  .order-modal .btn-close {
    display: block;
    position: fixed;
    right: 30px;
    top: 30px;
    width: 38px;
    height: 38px;
    cursor: pointer;
    z-index: 50; }
    .order-modal .btn-close span {
      display: block;
      height: 4px;
      position: absolute;
      width: 38px;
      background: #FFF; }
      .order-modal .btn-close span:nth-child(1) {
        top: 13px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      .order-modal .btn-close span:nth-child(2) {
        top: 13px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }

.tab input, .tab select {
  height: 45px;
  line-height: 45px;
  padding: 0 22px;
  width: 100%;
  font-size: 1.1428571428571428571428571428571rem;
  border-radius: 4px;
  border: 1px solid #d2d2d2;
  background: #fafafa;
  color: #888;
  outline: none;
  margin-bottom: 15px; }
  .tab input[type="checkbox"], .tab select[type="checkbox"] {
    height: auto;
    width: auto; }
  .tab input::-webkit-input-placeholder, .tab select::-webkit-input-placeholder {
    color: #c2c2c2; }
  .tab input:-moz-placeholder, .tab select:-moz-placeholder {
    color: #c2c2c2; }
  .tab input::-moz-placeholder, .tab select::-moz-placeholder {
    color: #c2c2c2; }
  .tab input:-ms-input-placeholder, .tab select:-ms-input-placeholder {
    color: #c2c2c2; }
.tab textarea {
  height: 150px;
  line-height: 120%;
  padding: 15px 22px;
  width: 100%;
  font-size: 1.1428571428571428571428571428571rem;
  border-radius: 4px;
  border: 1px solid #d2d2d2;
  background: #fafafa;
  color: #888;
  outline: none;
  margin-bottom: 15px;
  resize: none; }
  .tab textarea::-webkit-input-placeholder {
    color: #c2c2c2; }
  .tab textarea:-moz-placeholder {
    color: #c2c2c2; }
  .tab textarea::-moz-placeholder {
    color: #c2c2c2; }
  .tab textarea:-ms-input-placeholder {
    color: #c2c2c2; }
.tab button[type="submit"] {
  display: inline-block;
  padding: 12px 26px;
  margin: 0 0 20px 0;
  border-radius: 20px;
  border: none;
  outline: none;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.85714285714285714285714285714286rem;
  background: #d2a637;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -webkit-transition: background 300ms;
  -moz-transition: background 300ms;
  -ms-transition: background 300ms;
  -o-transition: background 300ms;
  transition: background 300ms; }
  .tab button[type="submit"]:hover {
    background: #d7af4c; }
.tab .help-block {
  margin-top: -5px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 23px;
  color: #d2a637; }
.tab #feedbackform-captcha-image {
  float: left;
  margin-top: -5px;
  margin-bottom: 5px; }

@media (max-width: 1023px) {
  .design-page .design-row .designer {
    margin-top: 60px; } }

/*# sourceMappingURL=index.css.map */
