/*------------------------- Timeline -------------------------*/
@-webkit-keyframes mouse-animation {
  0% {
    background-position-y: 0px; }
  50% {
    background-position-y: 5px; }
  100% {
    background-position-y: 0px; } }
@-moz-keyframes mouse-animation {
  0% {
    background-position-y: 0px; }
  50% {
    background-position-y: 5px; }
  100% {
    background-position-y: 0px; } }
@-o-keyframes mouse-animation {
  0% {
    background-position-y: 0px; }
  50% {
    background-position-y: 5px; }
  100% {
    background-position-y: 0px; } }
@keyframes mouse-animation {
  0% {
    background-position-y: 0px; }
  50% {
    background-position-y: 5px; }
  100% {
    background-position-y: 0px; } }
.fullheight {
  height: 100vh; }

.mCSB_scrollTools {
  z-index: 999; }

.timeline {
  display: none;
  background: #1a1a1a;
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 200;
  margin-right: -17px;
  overflow-y: scroll; }
  .timeline .whiteline {
    z-index: 10; }
    .timeline .whiteline.start {
      display: block;
      position: absolute;
      bottom: 0;
      left: calc(50% - 2px);
      margin: auto;
      width: 4px;
      height: 15vh;
      background: #d2a637; }
      .timeline .whiteline.start:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        border: 3px solid #d2a637;
        position: absolute;
        top: -18px;
        left: -8px;
        box-sizing: border-box; }
    .timeline .whiteline.end {
      display: block;
      position: absolute;
      top: 0;
      left: calc(50% - 2px);
      margin: auto;
      width: 4px;
      height: 15vh;
      background: #d2a637; }
      .timeline .whiteline.end:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        border: 3px solid #d2a637;
        position: absolute;
        top: calc(15vh - 2px);
        left: -8px;
        box-sizing: border-box; }
    .timeline .whiteline.step {
      position: absolute;
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      border: 3px solid #d2a637;
      top: calc(50vh - 4px);
      left: calc(50vw - 8px); }
      .timeline .whiteline.step:before {
        content: "";
        display: block;
        width: 4px;
        height: calc(50vh - 2px);
        background: #d2a637;
        position: absolute;
        top: -50vh;
        left: 3px; }
      .timeline .whiteline.step:after {
        content: "";
        display: block;
        width: 4px;
        height: calc(50vh - 2px);
        background: #d2a637;
        position: absolute;
        top: 12px;
        left: 3px; }
  .timeline .intro {
    width: 100vw;
    height: 100vh;
    position: relative;
    text-align: center;
    background: white; }
    .timeline .intro h3 {
      font-size: 2.1428571428571428571428571428571rem;
      margin: 0 0 25px 0;
      font-weight: 500;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #252525; }
      .timeline .intro h3:after {
        content: "";
        display: block;
        width: 140px;
        margin: auto;
        height: 25px;
        border-bottom: 2px solid #d2a637; }
    .timeline .intro p {
      font-size: 1.1428571428571428571428571428571rem;
      line-height: 1.8571428571428571428571428571429rem;
      max-width: 490px;
      font-weight: 400;
      letter-spacing: 2px;
      display: block;
      color: #252525;
      margin: 0 auto;
      text-transform: uppercase; }
    .timeline .intro .mouse {
      width: 28px;
      height: 48px;
      background-image: url("/images/about/mouse-grey.png");
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 0px;
      margin: auto;
      margin-top: 70px;
      -webkit-animation: mouse-animation 1s infinite;
      /* Safari 4+ */
      -moz-animation: mouse-animation 1s infinite;
      /* Fx 5+ */
      -o-animation: mouse-animation 1s infinite;
      /* Opera 12+ */
      animation: mouse-animation 1s infinite;
      /* IE 10+, Fx 29+ */ }
  .timeline .step {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; }
    .timeline .step:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(26, 26, 26, 0.6); }
    .timeline .step .gradient-top {
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: -1px;
      z-index: 1;
      background: -moz-linear-gradient(top, #1a1a1a 0%, rgba(26, 26, 26, 0) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #1a1a1a 0%, rgba(26, 26, 26, 0) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #1a1a1a 0%, rgba(26, 26, 26, 0) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#001a1a1a',GradientType=0 );
      /* IE6-9 */ }
    .timeline .step .gradient-bottom {
      width: 100vw;
      height: 100vh;
      position: absolute;
      bottom: -1px;
      z-index: 1;
      background: -moz-linear-gradient(top, rgba(26, 26, 26, 0) 0%, #1a1a1a 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(26, 26, 26, 0) 0%, #1a1a1a 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(26, 26, 26, 0) 0%, #1a1a1a 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a1a1a', endColorstr='#1a1a1a',GradientType=0 );
      /* IE6-9 */ }
    .timeline .step:nth-child(even) .card {
      text-align: right;
      padding: 0 55% 0 0; }
    .timeline .step .card {
      z-index: 99;
      display: block;
      position: relative;
      width: 100%;
      padding: 0 0 0 55%;
      text-align: left; }
      .timeline .step .card h4 {
        font-size: 2.1428571428571428571428571428571rem;
        margin: 0 0 15px 0;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase; }
      .timeline .step .card p {
        font-size: 1.1428571428571428571428571428571rem;
        font-weight: 300;
        letter-spacing: 1px;
        display: block;
        margin: 0 auto; }
  .timeline .outro {
    width: 100vw;
    height: 100vh;
    position: relative;
    text-align: center;
    background: white; }
    .timeline .outro h3 {
      font-size: 2.1428571428571428571428571428571rem;
      margin: 0 0 25px 0;
      font-weight: 500;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #252525; }
      .timeline .outro h3:after {
        content: "";
        display: block;
        width: 140px;
        margin: auto;
        height: 25px;
        border-bottom: 2px solid #d2a637; }
    .timeline .outro p {
      font-size: 1.1428571428571428571428571428571rem;
      line-height: 1.8571428571428571428571428571429rem;
      max-width: 490px;
      font-weight: 400;
      letter-spacing: 2px;
      display: block;
      color: #252525;
      margin: 0 auto;
      margin-bottom: 10px;
      text-transform: uppercase; }
      .timeline .outro p .fa {
        margin-right: 20px; }
    .timeline .outro .btn-gold {
      display: inline-block;
      height: 40px;
      padding: 0 30px;
      margin: 0 10px;
      margin-top: 15px;
      line-height: 40px;
      border-radius: 20px;
      letter-spacing: 1px;
      text-decoration: none;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 1rem;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      color: white;
      background: #d2a637;
      border: 2px solid #d2a637;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -ms-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms; }
      .timeline .outro .btn-gold .fa {
        margin-left: 5px; }
      .timeline .outro .btn-gold:hover {
        background: #d7af4c;
        border: 2px solid #d7af4c; }
      .timeline .outro .btn-gold.outlined {
        box-shadow: 0 0 5px transparent;
        color: #d2a637;
        background: rgba(210, 166, 55, 0);
        border: 2px solid #d2a637; }
        .timeline .outro .btn-gold.outlined:hover {
          color: white;
          background: #d2a637; }
  .timeline .btn-close {
    display: block;
    position: fixed;
    right: 30px;
    top: 30px;
    width: 38px;
    height: 38px;
    cursor: pointer;
    z-index: 50; }
    .timeline .btn-close span {
      display: block;
      height: 4px;
      position: absolute;
      width: 38px;
      background: #252525; }
      .timeline .btn-close span:nth-child(1) {
        top: 13px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      .timeline .btn-close span:nth-child(2) {
        top: 13px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }

@media (max-width: 1023px) {
  .timeline .step {
    /*height: 80vh;*/ }
  .timeline .whiteline {
    display: none !important; }
  .timeline .card {
    padding: 0 !important;
    text-align: center !important;
    left: 0 !important;
    right: 0 !important; } }

/*# sourceMappingURL=timeline.css.map */
