//@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&amp;subset=cyrillic);

@mixin transition ($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}

$lightestgrey: #eee;
$lightergrey: #888;
$lightgrey: #454545;
$grey: #252525;
$darkgrey: #1a1a1a;
$gold: #d2a637;

/*------------------------- Materials -------------------------*/

.hidden{
    display: none;
}

.placehold{
    width: 100%;
    margin-bottom: 25px;
}
.fullheight{
     height: 100vh;
 }

.materials-page, .mechanisms-page{
    .description{
        margin: 0 0 50px 0;

        .item-desc{
            h3{
                padding: 0 0 0 0;
                margin: 0 0 5px 0;
                border: none;
            }
            h4{
                font-size: 1.4285714285714285714285714285714rem;
                color: $grey;
                text-transform: uppercase;
                line-height: auto;
                font-weight: 300;
                letter-spacing: 2px;
                display: block;
                width: 100%;
                padding: 0 0 25px 0;
                margin: 0 0 25px 0;
                border-bottom: 1px solid $lightestgrey;
            }
        }
        h3 {
            font-size: 1.7142857142857142857142857142857rem;
            color: $grey;
            text-transform: uppercase;
            line-height: auto;
            font-weight: 500;
            letter-spacing: 2px;
            display: block;
            width: 100%;
            padding: 0 0 25px 0;
            margin: 0 0 25px 0;
            border-bottom: 1px solid $lightestgrey;
        }
        p {
            font-size: 1.1428571428571428571428571428571rem;
            color: $lightergrey;
            letter-spacing: 1px;
            font-weight: 400;
            line-height: 125%;
            margin: 0 0 25px 0;
        }
    }

    #tabs{
        margin: 14px 0 0 0;
        width: 100%;
        padding: 0 15px;

        &:after {
            display: block;
            content: "";
            clear: both;
        }
    }
    & .filter-row{
        position: relative;

        & .filter{
            text-align: right;
            position: absolute;
            width: 100%;
            margin-top: 9px;

            & .sort{
                font-size: 1rem;
                color: $grey;
                cursor: pointer;
                font-weight: 400;

                & .fa{
                    font-size: 0.71428571428571428571428571428571rem;
                }
            }
        }
    }

    .tab-switch {
        position: fixed;
        &:target {
            + .tab-link {
                border-bottom: 2px solid $gold;

                + .tab-content {
                    display: block;
                }
            }
        }
    }

    .tab-link {
        display: inline-block;

        font-size: 1.1428571428571428571428571428571rem;
        color: $grey;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1px;
        margin-right: 30px;
        padding-bottom: 5px;
        text-decoration: none;
        position: relative;
        cursor: pointer;
        border-bottom: 2px solid transparentize($gold, 1);

        @include transition(150ms linear);
    }

    .tab-content {
        box-sizing: border-box;

        float: right;

        display: none;
        width: 100%;

        border-top: 1px solid $lightestgrey;
        padding-top: 30px;
        margin-top: 14px;
    }

    .btn-lazy-load {
        display: inline-block;
        padding: 12px 26px;
        margin: 20px 10px 0 10px;
        border-radius: 20px;
        color: white;
        text-decoration: none;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 0.85714285714285714285714285714286rem;
        background: $gold;
        box-shadow: 0 0 5px rgba(0,0,0,0.25);

        @include transition(background 300ms);

        &:hover{
            background: lighten($gold, 5%);
        }
    }
}

.frames-page{
    p{
        max-width: 1064px !important;
    }
    .article-image{
         width: 100%;
         max-width: 1064px;
         margin-bottom: 25px;
         height: 400px;
         background: {
             position: center;
             size: cover;
         }
     }
}


.material-page{
    margin-top: 87px;

    .material-row{
        margin-bottom: 60px;


        .material-photos{
            width: 100%;

            .item{
                display: block;
                padding-top: 100%;
                margin-bottom: 35px;
                background: {
                    size: cover;
                    position: center;
                };
            }
        }

        h2{
            text-transform: uppercase;
            font-size: 1.7142857142857142857142857142857rem;
            color: $grey;
            line-height: 1.7142857142857142857142857142857rem;
            margin-top: 0;
            font-weight: 500;
            letter-spacing: 1px;
            margin-bottom: 23px;
        }
        hr {
            margin: 25px 0;
            height: 1px;
            background: #eee;
            border: none;
        }

        .code{
            font-size: 1.1428571428571428571428571428571rem;
            font-weight: 300;
            display: block;
            text-transform: uppercase;
        }

        p {
            font-size: 1.1428571428571428571428571428571rem;
            color: $lightergrey;
            margin: 0;
            line-height: 125%;
            letter-spacing: 1px;
        }

        .attributes {
            list-style: none;
            margin: 30px 0 5px 0;
            padding: 0;

            li {
                font-size: 1.1428571428571428571428571428571rem;
                color: $lightergrey;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 15px;

                b {
                    color: $grey;
                    font-weight: 500;
                }
            }
        }
    }
}

.material{
    position: relative;
    width: 100%;
    padding-top: 100%;
    margin-bottom: 30px;

    background: {
        color: $lightestgrey;
        size: cover;
        position: center;
    };

    &:hover{
        .overlay{
            opacity: 1;
        }
    }

    .overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 17px 18px;
        color: white;
        background: rgba(0,0,0,0.7);

        opacity: 0;

        @include transition(opacity 200ms);

        .code{
            font-size: 1.1428571428571428571428571428571rem;
            line-height: 100%;
            font-weight: 500;
            text-transform: uppercase;
        }
        .name{
            font-size: 0.85714285714285714285714285714286rem;
            font-weight: 400;
            text-transform: lowercase;
        }
        .shortdesc{
            font-size: 0.85714285714285714285714285714286rem;
            font-weight: 400;
            text-transform: lowercase;
            margin-top: 15px;
        }
        .buttons{
            position: absolute;
            left: 18px;
            bottom: 18px;

            .btn-material{
                display: block;
                float: left;
                width: 28px;
                height: 28px;
                margin-right: 8px;
                background: {
                    color: white;
                    position: center;
                    repeat: no-repeat;
                }
                &.zoom{
                    background-image: url('/images/about/icon-zoom.png');
                }
                &.info{
                    background-image: url('/images/about/icon-arrow.png');
                }
            }
        }

    }
}

/*------------------------- Mechanisms -------------------------*/
.mechanism{
    .thumb{
        display: block;
        width: 100%;
        padding-top: 122%;
        position: relative;
        cursor: pointer;
        background: {
            size: 82%;
            position: center;
            repeat: no-repeat;
            color: $lightestgrey;
        };

        z-index: 5;

        .video-badge{
            position: absolute;
            width: 40px;
            height: 45px;
            left: 15px;
            top: -7px;
            text-align: center;
            background: $gold;
            z-index: 7;

            @include transition(background 300ms);

            .fa{
                color: white;
                line-height: 45px;
                font-size: 18px;
            }

            &:hover{
                background: lighten($gold, 5%);
            }

        }

        .overlay{
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 6;

            opacity: 0;
            @include transition(opacity 300ms);

            background: {
                color: rgba(0,0,0,0.75);
                image: url('/images/about/hover-cross.png');
                position: center;
                repeat: no-repeat;
            };
        }

        &:hover{
            .overlay{
                opacity: 1;
            }
        }
    }

    .desc{
        padding: 20px 0 35px 0;

        .name{
            font-size: 1.2857142857142857142857142857143rem;
            color: $grey;
            text-transform: uppercase;
            font-weight: 500;
        }
        .subline{
            font-size: 1rem;
            margin: 5px 0 0 0;
            color: $grey;
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
        }
    }
}

/*------------------------- Select2 -------------------------*/
label[for="producer_select"]{
    margin-right: 20px;
}
#producer_select{
    opacity: 0;
}
.select2-selection {
    border: none !important;
    border-radius: 0 !important;
    text-align: left !important;
    outline: none !important;
}
.select2-search__field{
    outline: none !important;
    border: 1px solid #eee !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: $grey !important;
    font-size: 1rem !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 3px !important;
}
.select2-container--default .select2-results__option[aria-selected=true]{
    background-color: #fafafa !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: $gold !important;
}
.select2-dropdown{
    border-radius: 0 !important;
    border: none !important;
    box-shadow: 0 0 8px rgba(0,0,0,0.25);
}
/*------------------------- Select2 -------------------------*/

.mechanism-modal,.material-modal{
    display: none;
    background: rgba(0,0,0,0.93);
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 200;

    .thumb {
        display: block;
        width: 100%;
        padding-top: 100%;
        background-position: center;
        background-size: cover;
    }

    .code{
        text-align: left;
        font-size: 2.1428571428571428571428571428571rem;
        margin-bottom: 10px;
        padding-left: 5%;
    }
    .name{
        text-align: left;
        font-size: 1rem;
        margin-bottom: 30px;
        padding-left: 5%;
    }
    .longdesc{
        text-align: left;
        font-size: 1.1428571428571428571428571428571rem;
        padding-left: 5%;
    }

    .video-container{
        position: relative;
        width: 70vw;
        margin: auto;
        padding-top: 56.25%;
        max-width: 854px;

        iframe{
            z-index: 210;
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }

        /*&:after{
            content: "";
            display: block;
            z-index: 220;
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }*/
    }

    .btn-close{
        display: block;
        position: fixed;
        right: 30px;
        top: 30px;
        width: 38px;
        height: 38px;
        cursor: pointer;

        z-index: 50;

        span{
            display: block;
            height: 4px;
            position: absolute;
            width: 38px;
            background: #FFF;

            &:nth-child(1){
                top: 13px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &:nth-child(2){
                top: 13px;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
    }
}


@media (min-width: 1024px) and (max-width: 1199px) {
    .material{
        .overlay{
            .shortdesc{
                display: none;
            }
        }
    }
}
@media (max-width: 620px){
    .material{
        .overlay{
            .shortdesc{
                display: none;
            }
        }
    }
}

@media (max-width: 1023px) {
    .materials-page, .mechanisms-page{

        .description{
            padding: 0 15px;

            .item-desc{
                display: none !important;
            }
        }

        #tabs {
            .tab-content>.row {
                margin-left: -15px;
                margin-right: -15px;
            }
        }
    }
}