/*------------------------- Materials -------------------------*/
.hidden {
  display: none; }

.placehold {
  width: 100%;
  margin-bottom: 25px; }

.fullheight {
  height: 100vh; }

.materials-page .description, .mechanisms-page .description {
  margin: 0 0 50px 0; }
  .materials-page .description .item-desc h3, .mechanisms-page .description .item-desc h3 {
    padding: 0 0 0 0;
    margin: 0 0 5px 0;
    border: none; }
  .materials-page .description .item-desc h4, .mechanisms-page .description .item-desc h4 {
    font-size: 1.4285714285714285714285714285714rem;
    color: #252525;
    text-transform: uppercase;
    line-height: auto;
    font-weight: 300;
    letter-spacing: 2px;
    display: block;
    width: 100%;
    padding: 0 0 25px 0;
    margin: 0 0 25px 0;
    border-bottom: 1px solid #eee; }
  .materials-page .description h3, .mechanisms-page .description h3 {
    font-size: 1.7142857142857142857142857142857rem;
    color: #252525;
    text-transform: uppercase;
    line-height: auto;
    font-weight: 500;
    letter-spacing: 2px;
    display: block;
    width: 100%;
    padding: 0 0 25px 0;
    margin: 0 0 25px 0;
    border-bottom: 1px solid #eee; }
  .materials-page .description p, .mechanisms-page .description p {
    font-size: 1.1428571428571428571428571428571rem;
    color: #888;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 125%;
    margin: 0 0 25px 0; }
.materials-page #tabs, .mechanisms-page #tabs {
  margin: 14px 0 0 0;
  width: 100%;
  padding: 0 15px; }
  .materials-page #tabs:after, .mechanisms-page #tabs:after {
    display: block;
    content: "";
    clear: both; }
.materials-page .filter-row, .mechanisms-page .filter-row {
  position: relative; }
  .materials-page .filter-row .filter, .mechanisms-page .filter-row .filter {
    text-align: right;
    position: absolute;
    width: 100%;
    margin-top: 9px; }
    .materials-page .filter-row .filter .sort, .mechanisms-page .filter-row .filter .sort {
      font-size: 1rem;
      color: #252525;
      cursor: pointer;
      font-weight: 400; }
      .materials-page .filter-row .filter .sort .fa, .mechanisms-page .filter-row .filter .sort .fa {
        font-size: 0.71428571428571428571428571428571rem; }
.materials-page .tab-switch, .mechanisms-page .tab-switch {
  position: fixed; }
  .materials-page .tab-switch:target + .tab-link, .mechanisms-page .tab-switch:target + .tab-link {
    border-bottom: 2px solid #d2a637; }
    .materials-page .tab-switch:target + .tab-link + .tab-content, .mechanisms-page .tab-switch:target + .tab-link + .tab-content {
      display: block; }
.materials-page .tab-link, .mechanisms-page .tab-link {
  display: inline-block;
  font-size: 1.1428571428571428571428571428571rem;
  color: #252525;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  margin-right: 30px;
  padding-bottom: 5px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  border-bottom: 2px solid rgba(210, 166, 55, 0);
  -webkit-transition: 150ms linear;
  -moz-transition: 150ms linear;
  -ms-transition: 150ms linear;
  -o-transition: 150ms linear;
  transition: 150ms linear; }
.materials-page .tab-content, .mechanisms-page .tab-content {
  box-sizing: border-box;
  float: right;
  display: none;
  width: 100%;
  border-top: 1px solid #eee;
  padding-top: 30px;
  margin-top: 14px; }
.materials-page .btn-lazy-load, .mechanisms-page .btn-lazy-load {
  display: inline-block;
  padding: 12px 26px;
  margin: 20px 10px 0 10px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.85714285714285714285714285714286rem;
  background: #d2a637;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -webkit-transition: background 300ms;
  -moz-transition: background 300ms;
  -ms-transition: background 300ms;
  -o-transition: background 300ms;
  transition: background 300ms; }
  .materials-page .btn-lazy-load:hover, .mechanisms-page .btn-lazy-load:hover {
    background: #d7af4c; }

.frames-page p {
  max-width: 1064px !important; }
.frames-page .article-image {
  width: 100%;
  max-width: 1064px;
  margin-bottom: 25px;
  height: 400px;
  background-position: center;
  background-size: cover; }

.material-page {
  margin-top: 87px; }
  .material-page .material-row {
    margin-bottom: 60px; }
    .material-page .material-row .material-photos {
      width: 100%; }
      .material-page .material-row .material-photos .item {
        display: block;
        padding-top: 100%;
        margin-bottom: 35px;
        background-size: cover;
        background-position: center; }
    .material-page .material-row h2 {
      text-transform: uppercase;
      font-size: 1.7142857142857142857142857142857rem;
      color: #252525;
      line-height: 1.7142857142857142857142857142857rem;
      margin-top: 0;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 23px; }
    .material-page .material-row hr {
      margin: 25px 0;
      height: 1px;
      background: #eee;
      border: none; }
    .material-page .material-row .code {
      font-size: 1.1428571428571428571428571428571rem;
      font-weight: 300;
      display: block;
      text-transform: uppercase; }
    .material-page .material-row p {
      font-size: 1.1428571428571428571428571428571rem;
      color: #888;
      margin: 0;
      line-height: 125%;
      letter-spacing: 1px; }
    .material-page .material-row .attributes {
      list-style: none;
      margin: 30px 0 5px 0;
      padding: 0; }
      .material-page .material-row .attributes li {
        font-size: 1.1428571428571428571428571428571rem;
        color: #888;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 15px; }
        .material-page .material-row .attributes li b {
          color: #252525;
          font-weight: 500; }

.material {
  position: relative;
  width: 100%;
  padding-top: 100%;
  margin-bottom: 30px;
  background-color: #eee;
  background-size: cover;
  background-position: center; }
  .material:hover .overlay {
    opacity: 1; }
  .material .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 17px 18px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    -ms-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms; }
    .material .overlay .code {
      font-size: 1.1428571428571428571428571428571rem;
      line-height: 100%;
      font-weight: 500;
      text-transform: uppercase; }
    .material .overlay .name {
      font-size: 0.85714285714285714285714285714286rem;
      font-weight: 400;
      text-transform: lowercase; }
    .material .overlay .shortdesc {
      font-size: 0.85714285714285714285714285714286rem;
      font-weight: 400;
      text-transform: lowercase;
      margin-top: 15px; }
    .material .overlay .buttons {
      position: absolute;
      left: 18px;
      bottom: 18px; }
      .material .overlay .buttons .btn-material {
        display: block;
        float: left;
        width: 28px;
        height: 28px;
        margin-right: 8px;
        background-color: white;
        background-position: center;
        background-repeat: no-repeat; }
        .material .overlay .buttons .btn-material.zoom {
          background-image: url("/images/about/icon-zoom.png"); }
        .material .overlay .buttons .btn-material.info {
          background-image: url("/images/about/icon-arrow.png"); }

/*------------------------- Mechanisms -------------------------*/
.mechanism .thumb {
  display: block;
  width: 100%;
  padding-top: 122%;
  position: relative;
  cursor: pointer;
  background-size: 82%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #eee;
  z-index: 5; }
  .mechanism .thumb .video-badge {
    position: absolute;
    width: 40px;
    height: 45px;
    left: 15px;
    top: -7px;
    text-align: center;
    background: #d2a637;
    z-index: 7;
    -webkit-transition: background 300ms;
    -moz-transition: background 300ms;
    -ms-transition: background 300ms;
    -o-transition: background 300ms;
    transition: background 300ms; }
    .mechanism .thumb .video-badge .fa {
      color: white;
      line-height: 45px;
      font-size: 18px; }
    .mechanism .thumb .video-badge:hover {
      background: #d7af4c; }
  .mechanism .thumb .overlay {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 6;
    opacity: 0;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -ms-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
    background-color: rgba(0, 0, 0, 0.75);
    background-image: url("/images/about/hover-cross.png");
    background-position: center;
    background-repeat: no-repeat; }
  .mechanism .thumb:hover .overlay {
    opacity: 1; }
.mechanism .desc {
  padding: 20px 0 35px 0; }
  .mechanism .desc .name {
    font-size: 1.2857142857142857142857142857143rem;
    color: #252525;
    text-transform: uppercase;
    font-weight: 500; }
  .mechanism .desc .subline {
    font-size: 1rem;
    margin: 5px 0 0 0;
    color: #252525;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif; }

/*------------------------- Select2 -------------------------*/
label[for="producer_select"] {
  margin-right: 20px; }

#producer_select {
  opacity: 0; }

.select2-selection {
  border: none !important;
  border-radius: 0 !important;
  text-align: left !important;
  outline: none !important; }

.select2-search__field {
  outline: none !important;
  border: 1px solid #eee !important; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #252525 !important;
  font-size: 1rem !important; }

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 3px !important; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #fafafa !important; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #d2a637 !important; }

.select2-dropdown {
  border-radius: 0 !important;
  border: none !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25); }

/*------------------------- Select2 -------------------------*/
.mechanism-modal, .material-modal {
  display: none;
  background: rgba(0, 0, 0, 0.93);
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 200; }
  .mechanism-modal .thumb, .material-modal .thumb {
    display: block;
    width: 100%;
    padding-top: 100%;
    background-position: center;
    background-size: cover; }
  .mechanism-modal .code, .material-modal .code {
    text-align: left;
    font-size: 2.1428571428571428571428571428571rem;
    margin-bottom: 10px;
    padding-left: 5%; }
  .mechanism-modal .name, .material-modal .name {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 30px;
    padding-left: 5%; }
  .mechanism-modal .longdesc, .material-modal .longdesc {
    text-align: left;
    font-size: 1.1428571428571428571428571428571rem;
    padding-left: 5%; }
  .mechanism-modal .video-container, .material-modal .video-container {
    position: relative;
    width: 70vw;
    margin: auto;
    padding-top: 56.25%;
    max-width: 854px;
    /*&:after{
        content: "";
        display: block;
        z-index: 220;
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }*/ }
    .mechanism-modal .video-container iframe, .material-modal .video-container iframe {
      z-index: 210;
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important; }
  .mechanism-modal .btn-close, .material-modal .btn-close {
    display: block;
    position: fixed;
    right: 30px;
    top: 30px;
    width: 38px;
    height: 38px;
    cursor: pointer;
    z-index: 50; }
    .mechanism-modal .btn-close span, .material-modal .btn-close span {
      display: block;
      height: 4px;
      position: absolute;
      width: 38px;
      background: #FFF; }
      .mechanism-modal .btn-close span:nth-child(1), .material-modal .btn-close span:nth-child(1) {
        top: 13px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      .mechanism-modal .btn-close span:nth-child(2), .material-modal .btn-close span:nth-child(2) {
        top: 13px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }

@media (min-width: 1024px) and (max-width: 1199px) {
  .material .overlay .shortdesc {
    display: none; } }
@media (max-width: 620px) {
  .material .overlay .shortdesc {
    display: none; } }
@media (max-width: 1023px) {
  .materials-page .description, .mechanisms-page .description {
    padding: 0 15px; }
    .materials-page .description .item-desc, .mechanisms-page .description .item-desc {
      display: none !important; }
  .materials-page #tabs .tab-content > .row, .mechanisms-page #tabs .tab-content > .row {
    margin-left: -15px;
    margin-right: -15px; } }

/*# sourceMappingURL=index.css.map */
