#pohjacaptcha{
	position: relative;
	height: 62px;
	text-align: left;
	padding: 18px 0px;
	width: 100%;
	max-width: 336px;
	font-size: 1rem;
	border-radius: 4px;
	border: 1px solid #d2d2d2;
	background: #fafafa;
	color: #252525;
	outline: none;
	margin-bottom: 25px;
	resize: none;

	cursor: pointer;

	-webkit-transition: background 200ms;
	-moz-transition: background 200ms;
	-ms-transition: background 200ms;
	-o-transition: background 200ms;
	transition: background 200ms;

	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
}
#pohjacaptcha:hover{
	background: #f5f5f5;
}
#pohjacaptcha .pbtn{
	display: block;
	position: absolute;
	z-index: 2;
	border-radius: 4px;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.notarobot>span{
	display: block;
	float: left;
	height: 24px;
	padding-left: 15px;
	line-height: 28px;
}
.notarobot:before{

	margin-left: 22px;
	display: block;
	float: left;
	content: "";
	text-align: center;
	line-height: 22px;
	background: white;
	border: 2px solid #d2d2d2;
	border-radius: 4px;
	width: 24px;
	height: 24px;
	box-sizing: border-box;

	font-family: "FontAwesome";
	color: white;

	-webkit-transition: color 1000ms, border-color 1000ms;
	-moz-transition: color 1000ms, border-color 1000ms;
	-ms-transition: color 1000ms, border-color 1000ms;
	-o-transition: color 1000ms, border-color 1000ms;
	transition: color 1000ms, border-color 1000ms;
}

#pohjacaptcha .popup{
	display: none;
	padding: 22px;
	border-radius: 4px;
	position: absolute;
	width: 415px;
	height: 360px;
	top: -371px;
	left: -1px;
	background: #f2f2f2;
	border: 1px solid #d2d2d2;

	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.10);

	z-index: 9 !important;
}

/* ----------------- states ------------------ */

#pohjacaptcha.checked .notarobot:before{
	border: 2px solid #d2a637;
	color: #d2a637;
	content: "\f00c";
}

#pohjacaptcha.opened .popup{
	display: block;
}
#pohjacaptcha.opened{
}


@media (max-width: 578px) {
	#pohjacaptcha.opened .popup{
		position: fixed;
		top: 114px;
		left: 20px;
		right: 20px;
		width: calc(100% - 40px);
	}
}