//@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&amp;subset=cyrillic);

@mixin transition ($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}

$lightergrey: #888;
$lightgrey: #454545;
$grey: #252525;
$darkgrey: #1a1a1a;
$gold: #d2a637;


.fullheight{
    height: 100vh;
}

.hidden {
    display: none;
}


/*------------------------- Select2 -------------------------*/
#sort_select{
    opacity: 0;
}
.select2-selection {
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid $lightgrey !important;
    text-align: left !important;
    outline: none !important;
}
.select2-search__field{
    outline: none !important;
    border: 1px solid #eee !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: $grey !important;
    font-size: 1rem !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 3px !important;
}
.select2-container--default .select2-results__option[aria-selected=true]{
    background-color: #fafafa !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: $gold !important;
}
.select2-dropdown{
    border-radius: 0 !important;
    border: none !important;
    box-shadow: 0 0 8px rgba(0,0,0,0.25);
}
/*------------------------- Select2 -------------------------*/

/*------------------------- Grid -------------------------*/
.catalog-grid{
    margin-bottom: 30px;
    & .filter-row{
        height: 87px;

        & h2{
            font-weight: 500;
            color: $grey;
            text-transform: uppercase;
            font-size: 1.1428571428571428571428571428571rem;
        }
        & h3{
            font-weight: 500;
            color: $grey;
            text-transform: uppercase;
            font-size: 1.1428571428571428571428571428571rem;
        }

        & .filter{
            text-align: right;

            & .sort{
                font-size: 1rem;
                color: $grey;
                cursor: pointer;
                font-weight: 400;

                & .fa{
                    font-size: 0.71428571428571428571428571428571rem;
                }
            }
        }
    }

    & .item{
        width: 100%;
        @include transition(box-shadow 500ms);

        & .thumb{
            display: block;
            width: 100%;
            height: 242px;
            position: relative;
            background: {
                size: cover;
                position: center;
            };

            .featured-badge{
                position: absolute;
                width: 40px;
                height: 45px;
                left: 15px;
                top: -7px;
                text-align: center;
                background: $gold;
                z-index: 7;

                @include transition(background 300ms);

                .fa{
                    color: white;
                    line-height: 45px;
                    font-size: 18px;
                }

                &:hover{
                    background: lighten($gold, 5%);
                }

            }

            .availability-badge {
                position: absolute;
                padding: 5px 0;
                width: 120px;
                left: 50%;
                bottom: 5px;
                margin-left: -60px;
                display: inline-block;
                text-align: center;
                background: white;
                color: #252525 !important;
                border-radius: 20px;
                z-index: 7;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

                @include transition(background 300ms);
            }

            & .overlay{
                box-sizing: border-box;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-flex: 0;
                -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;

                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0;
                background: {
                    //color: rgba(0,0,0,0.75);
                    color: rgba(0,0,0,0);
                    //image: url('/images/about/hover-zoom.png');
                    position: center;
                    repeat: no-repeat;
                };

                @include transition(opacity 500ms);

                & >a{
                    display: inline-block;
                    padding: 12px 26px;
                    border-radius: 20px;
                    color: white;
                    text-decoration: none;
                    font-weight: 400;
                    text-transform: uppercase;
                    font-size: 0.85714285714285714285714285714286rem;
                    background: $gold;

                    @include transition(background 500ms);

                    &:hover{
                        background: lighten($gold, 5%);
                    }

                    .fa {
                        margin-left: 8px;
                    }
                }
            }
        }
        & .desc{
            padding: 20px 0 20px 0;
            margin-bottom: 30px;
            text-align: center;

            & .name{
                font-size: 1.2857142857142857142857142857143rem;
                color: $grey;
                text-transform: uppercase;
                font-weight: 500;

                .price-new{
                    //float: right;
                    display: inline-block;
                    margin-left: 10px;
                    color: $gold;
                }
            }
            & .subline{
                font-size: 1rem;
                margin: 5px 0 0 0;
                color: $grey;
                text-transform: uppercase;
                font-family: 'Open Sans', sans-serif;

                .price-old{
                    //float: right;
                    display: inline-block;
                    margin-left: 10px;
                    color: $lightgrey;
                    text-decoration: line-through;
                }
            }

            & .availability {
                margin-top: 5px;
                font-family: 'Open Sans', sans-serif;
            }
        }

        &:hover{
            box-shadow: 0px 0px 40px rgba(0,0,0,0.25);
            & .thumb{
                & .overlay{
                    opacity: 1;
                }
            }
        }
    }

    .btn-lazy-load {
        display: inline-block;
        padding: 12px 26px;
        margin: 20px 10px 40px 10px;
        border-radius: 20px;
        color: white;
        text-decoration: none;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 0.85714285714285714285714285714286rem;
        background: $gold;
        box-shadow: 0 0 5px rgba(0,0,0,0.25);

        @include transition(background 300ms);

        &:hover{
            background: lighten($gold, 5%);
        }

        & .arrow-right{
            display: inline-block;
            height: 7px;
            width: 12px;
            background-image: url('/images/catalog/arrow-right.png');
            background-repeat: no-repeat;
            margin-left: 20px;
        }
    }
}


/*------------------------- Model -------------------------*/

span.hairline{
    font-weight: 300;
}

.product-card{
    margin-top: 87px;

    .product-row{
        margin-bottom: 60px;

        .col-xs-12,.col-sm-6{
            position: relative;
        }

        .f-badge{
            position: absolute;
            width: 40px;
            height: 45px;
            left: 29px;
            top: -7px;
            text-align: center;
            background: $gold;
            z-index: 7;

            @include transition(background 300ms);

            .fa{
                color: white;
                line-height: 45px;
                font-size: 18px;
            }

            &:hover{
                background: lighten($gold, 5%);
            }

        }

        h2{
            text-transform: uppercase;
            font-size: 1.7142857142857142857142857142857rem;
            color: $grey;
            line-height: 1.7142857142857142857142857142857rem;
            margin-top: 0;
            font-weight: 500;
            letter-spacing: 1px;
            margin-bottom: 23px;
        }

        .price{
            display: block;
            text-transform: uppercase;
            font-size: 2.1428571428571428571428571428571rem;
            color: $gold;
            line-height: 2.1428571428571428571428571428571rem;
            margin-top: 0;
            font-weight: 500;
            letter-spacing: 1px;
            margin-bottom: 23px;

            .old {
                display: inline-block;
                font-size: 1.7142857142857142857142857142857rem;
                line-height: 2.1428571428571428571428571428571rem;
                margin-left: 10px;
                font-weight: 100;
                text-decoration: line-through;
            }
        }

        .sold-information {
            font-family: 'Roboto', sans-serif;
            color: black;
            margin-bottom: 23px;
            font-size: 18px;
            
            .leave-order-scroll {
                color: $gold;
                text-decoration: none;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 2px;
                    background: $gold;
                    transition: width .3s ease-in-out;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }

        .badge{
            font-size: 0.71428571428571428571428571428571rem;
            color: white;
            background: $gold;
            border-radius: 20px;
            text-transform: uppercase;
            display: inline-block;
            padding: 10px 20px;
            letter-spacing: 1px;
            margin: 0;

            @include transition(background 300ms);

            &:hover{
                background: lighten($gold, 5%);
            }
        }
        hr {
            margin: 25px 0;
            height: 1px;
            background: #eee;
            border: none;
        }

        p {
            font-size: 1.1428571428571428571428571428571rem;
            color: $lightergrey;
            margin: 0;
            line-height: 125%;
            letter-spacing: 1px;
        }

        .attributes {
            list-style: none;
            margin: 30px 0 5px 0;
            padding: 0;

            li {
                font-size: 1.1428571428571428571428571428571rem;
                color: $lightergrey;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 15px;

                b {
                    color: $grey;
                    font-weight: 500;
                }

                .material-label{
                    text-transform: capitalize;

                    &:after{
                        content: " | ";
                    }
                    &:last-child{
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
        .materials{
            margin-top: 25px;

            .material-group {
                display: inline-block;

                &:after {
                    content: "";
                    display: inline-block;
                    background: #eee;
                    width: 1px;
                    height: 32px;
                    margin: 0 13px 0 5px;
                }
                &:last-child{
                    &:after {
                        display: none;
                    }
                }

                .material-link{
                    position: relative;
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    border: 2px solid $lightergrey;
                    margin-right: 8px;
                    background: {
                        color: $grey;
                        size: cover;
                        position: center;
                    };
                    @include transition(border-color 200ms);

                    &:hover{
                        //border-color: $gold;
                        border-color: $lightgrey;
                    }
                }
                .material-more{
                    position: relative;
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    border: 1px solid $lightgrey;
                    margin-right: 8px;
                    background: {
                        color: white;
                        size: cover;
                        position: center;
                    };
                    @include transition(border-color 200ms);

                    .fa{
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        text-align: center;
                        line-height: 30px;
                        font-size: 18px;
                        color: $lightgrey;

                        @include transition(color 200ms);
                    }

                    &:hover{
                        border-color: $gold;
                        .fa{
                            color: $gold;
                        }
                    }
                }
            }
        }
        .pdf-link,.mechanism-link{
            display: block;
            font-size: 1.1428571428571428571428571428571rem;
            color: $gold;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 1px;
            margin-bottom: 20px;

            .fa {
                margin-right: 8px;
                font-size: 1.2857142857142857142857142857143rem;
            }
        }
        .pdf-link{
            display: inline-block;
        }
        .pdf-link+.pdf-link{
            &:before{
                content: "";
                display: inline-block;
                background: #eee;
                width: 1px;
                height: 14px;
                margin: 0 17px 0 15px;
            }
        }
        .btn-gold-outlined {
            display: inline-block;
            width: 200px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            margin: 10px 20px 10px 0;
            border-radius: 20px;
            color: $gold;
            text-decoration: none;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 1rem;
            background: transparentize($gold, 1);
            letter-spacing: 1px;
            border: 2px solid $gold;

            -webkit-transition:  300ms;
            -moz-transition:  300ms;
            -ms-transition:  300ms;
            -o-transition:  300ms;
            transition:  300ms;

            &:last-child{
                margin-right: 0;
            }

            &:hover{
                color: white;
                background: $gold;
            }
        }
    }

    .product-slider{
        width: 100%;
        height: 510px;
        background: $grey;
        position: relative;
        overflow: hidden;

        .item{
            display: block;
            width: 100%;
            height: 510px;
            background: {
                size: cover;
                position: center;
            };

            &:hover{
                .zoom{
                    opacity: 1;
                }
            }

            .zoom{
                position: absolute;
                width: 35px;
                height: 35px;
                left: 40px;
                bottom: 30px;
                border-radius: 100%;
                text-align: center;
                background: $gold;
                z-index: 7;
                opacity: 0;
                cursor: pointer;
                box-shadow: 0 0 5px rgba(0,0,0,0.35);

                @include transition(300ms);

                .fa{
                    color: white;
                    line-height: 36px;
                    font-size: 12px;
                }

                &:hover{
                    background: lighten($gold, 5%);
                }
            }
            .zoom-mobile{
                position: absolute;
                width: 48px;
                height: 48px;
                right: 40px;
                top: 30px;
                border-radius: 100%;
                text-align: center;
                background: $gold;
                z-index: 7;
                display: none;
                cursor: pointer;
                box-shadow: 0 0 5px rgba(0,0,0,0.35);

                @include transition(300ms);

                .fa{
                    color: white;
                    line-height: 47px;
                    font-size: 14px;
                }

                &:hover{
                    background: lighten($gold, 5%);
                }
            }
        }

        .owl-prev, .owl-next{
            display: block;
            position: absolute;
            top: 45%;
            font-size: 30px;
            color: $grey;
        }
        .owl-prev{
            left: 25px;
        }
        .owl-next{
            right: 25px;
        }

        .owl-dots{
            display: block;
            position: absolute;
            right: 40px;
            bottom: 30px;
            pointer-events: none;

            counter-reset: dots;

            &:before{
                display: inline-block;
                content: "";
                width: 90px;
                height: 2px;
                margin: 0 20px 5px 0;
                background: $grey;
            }

            .owl-dot{
                display: inline-block;
                margin-left: 5px;
                width: 30px;
                text-align: center;
                pointer-events: all;

                &:before{
                    font-family: "Open Sans";
                    font-size: 20px;
                    color: $grey;
                    font-weight: 500;
                    letter-spacing: 1px;
                    counter-increment:dots;
                    content: "0" counter(dots);
                }

                &.active{
                    &:before{
                        font-size: 26px;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .prices-group {
        margin: 20px 0 !important;

        .price-block p {
            color: $grey !important;
            font-size: 1.1428571428571428571428571428571rem !important;
            font-weight: 300;
            letter-spacing: 1px;
            line-height: 125%;
        }
    }
}


.photo-modal,.order-modal{
    display: none;
    background: rgba(0,0,0,0.93);
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 200;

    .product_modal{
        display: block;
        width: 100%;
        text-align: left;

        img {
            width: 90%;
            margin-bottom: 35px;
        }
        .heading_modal{
            //font-size: 1.7142857142857142857142857142857rem;
            font-size: 1.2857142857142857142857142857143rem;
            color: $grey;
            text-transform: uppercase;
            text-align: left;
            width: 100%;
            letter-spacing: 1px;
            font-weight: 500;
            margin: 0 0 25px 0;
        }

        .desc_modal{
            width: 95%;
            font-size: 1.1428571428571428571428571428571rem;
            color: $lightergrey;
            line-height: 125%;
            letter-spacing: 1px;
            margin: 0 0 25px 0;
        }

        .price_modal{
            display: block;
            text-transform: uppercase;
            font-size: 2.1428571428571428571428571428571rem;
            color: $gold;
            line-height: 2.1428571428571428571428571428571rem;
            margin-top: 0;
            font-weight: 500;
            letter-spacing: 1px;

            .old {
                display: inline-block;
                font-size: 1.7142857142857142857142857142857rem;
                line-height: 2.1428571428571428571428571428571rem;
                margin-left: 10px;
                font-weight: 100;
                text-decoration: line-through;
            }
        }

        .sold-information_modal {
            color: black;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
        }
    }

    .photo-container{
        position: relative;
        width: 70vw;
        margin: auto;
        //padding-top: 56.25%;
        max-width: 854px;

        img{
            z-index: 210;
            position: relative;
            max-width: 100% !important;
            max-height: 100% !important;
        }
    }
    .order-container{
        position: relative;
        width: 70vw;
        margin: auto;
        background: white;
        padding: 50px;
        max-width: 920px;

        p{
            font-size: 1.1428571428571428571428571428571rem;
            color: $grey;
            margin: 0 0 25px 0;
            line-height: 125%;
            letter-spacing: 1px;
        }

        h3 {
            font-size: 1.7142857142857142857142857142857rem;
            color: $grey;
            text-transform: uppercase;
            text-align: center;
            width: 100%;
            letter-spacing: 1px;
            font-weight: 500;
            margin: 0 0 45px 0;
        }

        input,select{
            height: 45px;
            line-height: 45px;
            padding: 0 22px;
            width: 100%;
            font-size: 1.1428571428571428571428571428571rem;
            border-radius: 4px;
            border: 1px solid #d2d2d2;
            background: #fafafa;
            color: $lightergrey;
            outline: none;
            margin-bottom: 15px;

            @include placeholder {
                color: #c2c2c2;
            }
        }
        textarea{
            height: 150px;
            line-height: 120%;
            padding: 15px 22px;
            width: 100%;
            font-size: 1.1428571428571428571428571428571rem;
            border-radius: 4px;
            border: 1px solid #d2d2d2;
            background: #fafafa;
            color: $lightergrey;
            outline: none;
            margin-bottom: 15px;
            resize: none;

            @include placeholder {
                color: #c2c2c2;
            }
        }
        button[type="submit"] {
            display: inline-block;
            padding: 12px 26px;
            margin: 15px 0 0 0;
            border-radius: 20px;
            border: none;
            outline: none;
            letter-spacing: 1px;
            color: white;
            text-decoration: none;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 0.85714285714285714285714285714286rem;
            background: $gold;
            box-shadow: 0 0 5px rgba(0,0,0,0.25);

            @include transition(background 300ms);

            &:hover{
                background: lighten($gold, 5%);
            }
        }
        .help-block{
            margin-top: -5px;
            margin-bottom: 10px;
            text-align: left;
            padding-left: 23px;
            color: $gold;
        }

        #feedbackform-captcha-image{
            float: left;
            margin-top: -5px;
            margin-bottom: 5px;
        }
    }

    .btn-close{
        display: block;
        position: fixed;
        right: 30px;
        top: 30px;
        width: 38px;
        height: 38px;
        cursor: pointer;

        z-index: 50;

        span{
            display: block;
            height: 4px;
            position: absolute;
            width: 38px;
            background: #FFF;

            &:nth-child(1){
                top: 13px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &:nth-child(2){
                top: 13px;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
    }
}

.mechanism-modal,.material-modal{
    display: none;
    background: rgba(0,0,0,0.93);
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 200;

    .thumb {
        display: block;
        width: 100%;
        padding-top: 100%;
        background-position: center;
        background-size: cover;
    }

    .code{
        text-align: left;
        font-size: 2.1428571428571428571428571428571rem;
        margin-bottom: 10px;
        padding-left: 5%;
    }
    .name{
        text-align: left;
        font-size: 1rem;
        margin-bottom: 30px;
        padding-left: 5%;
    }
    .longdesc{
        text-align: left;
        font-size: 1.1428571428571428571428571428571rem;
        padding-left: 5%;
    }

    .video-container{
        position: relative;
        width: 70vw;
        margin: auto;
        padding-top: 56.25%;
        max-width: 854px;

        iframe{
            z-index: 210;
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }

        /*&:after{
            content: "";
            display: block;
            z-index: 220;
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }*/
    }

    .btn-close{
        display: block;
        position: fixed;
        right: 30px;
        top: 30px;
        width: 38px;
        height: 38px;
        cursor: pointer;

        z-index: 50;

        span{
            display: block;
            height: 4px;
            position: absolute;
            width: 38px;
            background: #FFF;

            &:nth-child(1){
                top: 13px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &:nth-child(2){
                top: 13px;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
    }
}