.fullheight {
  height: 100vh; }

.hidden {
  display: none; }

/*------------------------- Select2 -------------------------*/
#sort_select {
  opacity: 0; }

.select2-selection {
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #454545 !important;
  text-align: left !important;
  outline: none !important; }

.select2-search__field {
  outline: none !important;
  border: 1px solid #eee !important; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #252525 !important;
  font-size: 1rem !important; }

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 3px !important; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #fafafa !important; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #d2a637 !important; }

.select2-dropdown {
  border-radius: 0 !important;
  border: none !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25); }

/*------------------------- Select2 -------------------------*/
/*------------------------- Grid -------------------------*/
.catalog-grid {
  margin-bottom: 30px; }
  .catalog-grid .filter-row {
    height: 87px; }
    .catalog-grid .filter-row h2 {
      font-weight: 500;
      color: #252525;
      text-transform: uppercase;
      font-size: 1.1428571428571428571428571428571rem; }
    .catalog-grid .filter-row h3 {
      font-weight: 500;
      color: #252525;
      text-transform: uppercase;
      font-size: 1.1428571428571428571428571428571rem; }
    .catalog-grid .filter-row .filter {
      text-align: right; }
      .catalog-grid .filter-row .filter .sort {
        font-size: 1rem;
        color: #252525;
        cursor: pointer;
        font-weight: 400; }
        .catalog-grid .filter-row .filter .sort .fa {
          font-size: 0.71428571428571428571428571428571rem; }
  .catalog-grid .item {
    width: 100%;
    -webkit-transition: box-shadow 500ms;
    -moz-transition: box-shadow 500ms;
    -ms-transition: box-shadow 500ms;
    -o-transition: box-shadow 500ms;
    transition: box-shadow 500ms; }
    .catalog-grid .item .thumb {
      display: block;
      width: 100%;
      height: 242px;
      position: relative;
      background-size: cover;
      background-position: center; }
      .catalog-grid .item .thumb .featured-badge {
        position: absolute;
        width: 40px;
        height: 45px;
        left: 15px;
        top: -7px;
        text-align: center;
        background: #d2a637;
        z-index: 7;
        -webkit-transition: background 300ms;
        -moz-transition: background 300ms;
        -ms-transition: background 300ms;
        -o-transition: background 300ms;
        transition: background 300ms; }
        .catalog-grid .item .thumb .featured-badge .fa {
          color: white;
          line-height: 45px;
          font-size: 18px; }
        .catalog-grid .item .thumb .featured-badge:hover {
          background: #d7af4c; }
      .catalog-grid .item .thumb .availability-badge {
        position: absolute;
        padding: 5px 0;
        width: 120px;
        left: 50%;
        bottom: 5px;
        margin-left: -60px;
        display: inline-block;
        text-align: center;
        background: white;
        color: #252525 !important;
        border-radius: 20px;
        z-index: 7;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        -webkit-transition: background 300ms;
        -moz-transition: background 300ms;
        -ms-transition: background 300ms;
        -o-transition: background 300ms;
        transition: background 300ms; }
      .catalog-grid .item .thumb .overlay {
        box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0);
        background-position: center;
        background-repeat: no-repeat;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -ms-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms; }
        .catalog-grid .item .thumb .overlay > a {
          display: inline-block;
          padding: 12px 26px;
          border-radius: 20px;
          color: white;
          text-decoration: none;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 0.85714285714285714285714285714286rem;
          background: #d2a637;
          -webkit-transition: background 500ms;
          -moz-transition: background 500ms;
          -ms-transition: background 500ms;
          -o-transition: background 500ms;
          transition: background 500ms; }
          .catalog-grid .item .thumb .overlay > a:hover {
            background: #d7af4c; }
          .catalog-grid .item .thumb .overlay > a .fa {
            margin-left: 8px; }
    .catalog-grid .item .desc {
      padding: 20px 0 20px 0;
      margin-bottom: 30px;
      text-align: center; }
      .catalog-grid .item .desc .name {
        font-size: 1.2857142857142857142857142857143rem;
        color: #252525;
        text-transform: uppercase;
        font-weight: 500; }
        .catalog-grid .item .desc .name .price-new {
          display: inline-block;
          margin-left: 10px;
          color: #d2a637; }
      .catalog-grid .item .desc .subline {
        font-size: 1rem;
        margin: 5px 0 0 0;
        color: #252525;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif; }
        .catalog-grid .item .desc .subline .price-old {
          display: inline-block;
          margin-left: 10px;
          color: #454545;
          text-decoration: line-through; }
      .catalog-grid .item .desc .availability {
        margin-top: 5px;
        font-family: 'Open Sans', sans-serif; }
    .catalog-grid .item:hover {
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25); }
      .catalog-grid .item:hover .thumb .overlay {
        opacity: 1; }
  .catalog-grid .btn-lazy-load {
    display: inline-block;
    padding: 12px 26px;
    margin: 20px 10px 40px 10px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.85714285714285714285714285714286rem;
    background: #d2a637;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    -webkit-transition: background 300ms;
    -moz-transition: background 300ms;
    -ms-transition: background 300ms;
    -o-transition: background 300ms;
    transition: background 300ms; }
    .catalog-grid .btn-lazy-load:hover {
      background: #d7af4c; }
    .catalog-grid .btn-lazy-load .arrow-right {
      display: inline-block;
      height: 7px;
      width: 12px;
      background-image: url("/images/catalog/arrow-right.png");
      background-repeat: no-repeat;
      margin-left: 20px; }

/*------------------------- Model -------------------------*/
span.hairline {
  font-weight: 300; }

.product-card {
  margin-top: 87px; }
  .product-card .product-row {
    margin-bottom: 60px; }
    .product-card .product-row .col-xs-12, .product-card .product-row .col-sm-6 {
      position: relative; }
    .product-card .product-row .f-badge {
      position: absolute;
      width: 40px;
      height: 45px;
      left: 29px;
      top: -7px;
      text-align: center;
      background: #d2a637;
      z-index: 7;
      -webkit-transition: background 300ms;
      -moz-transition: background 300ms;
      -ms-transition: background 300ms;
      -o-transition: background 300ms;
      transition: background 300ms; }
      .product-card .product-row .f-badge .fa {
        color: white;
        line-height: 45px;
        font-size: 18px; }
      .product-card .product-row .f-badge:hover {
        background: #d7af4c; }
    .product-card .product-row h2 {
      text-transform: uppercase;
      font-size: 1.7142857142857142857142857142857rem;
      color: #252525;
      line-height: 1.7142857142857142857142857142857rem;
      margin-top: 0;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 23px; }
    .product-card .product-row .price {
      display: block;
      text-transform: uppercase;
      font-size: 2.1428571428571428571428571428571rem;
      color: #d2a637;
      line-height: 2.1428571428571428571428571428571rem;
      margin-top: 0;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 23px; }
      .product-card .product-row .price .old {
        display: inline-block;
        font-size: 1.7142857142857142857142857142857rem;
        line-height: 2.1428571428571428571428571428571rem;
        margin-left: 10px;
        font-weight: 100;
        text-decoration: line-through; }
    .product-card .product-row .sold-information {
      font-family: 'Roboto', sans-serif;
      color: black;
      margin-bottom: 23px;
      font-size: 18px; }
      .product-card .product-row .sold-information .leave-order-scroll {
        color: #d2a637;
        text-decoration: none;
        position: relative; }
        .product-card .product-row .sold-information .leave-order-scroll::after {
          content: '';
          position: absolute;
          width: 0;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 2px;
          background: #d2a637;
          transition: width .3s ease-in-out; }
        .product-card .product-row .sold-information .leave-order-scroll:hover::after {
          width: 100%; }
    .product-card .product-row .badge {
      font-size: 0.71428571428571428571428571428571rem;
      color: white;
      background: #d2a637;
      border-radius: 20px;
      text-transform: uppercase;
      display: inline-block;
      padding: 10px 20px;
      letter-spacing: 1px;
      margin: 0;
      -webkit-transition: background 300ms;
      -moz-transition: background 300ms;
      -ms-transition: background 300ms;
      -o-transition: background 300ms;
      transition: background 300ms; }
      .product-card .product-row .badge:hover {
        background: #d7af4c; }
    .product-card .product-row hr {
      margin: 25px 0;
      height: 1px;
      background: #eee;
      border: none; }
    .product-card .product-row p {
      font-size: 1.1428571428571428571428571428571rem;
      color: #888;
      margin: 0;
      line-height: 125%;
      letter-spacing: 1px; }
    .product-card .product-row .attributes {
      list-style: none;
      margin: 30px 0 5px 0;
      padding: 0; }
      .product-card .product-row .attributes li {
        font-size: 1.1428571428571428571428571428571rem;
        color: #888;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 15px; }
        .product-card .product-row .attributes li b {
          color: #252525;
          font-weight: 500; }
        .product-card .product-row .attributes li .material-label {
          text-transform: capitalize; }
          .product-card .product-row .attributes li .material-label:after {
            content: " | "; }
          .product-card .product-row .attributes li .material-label:last-child:after {
            display: none; }
    .product-card .product-row .materials {
      margin-top: 25px; }
      .product-card .product-row .materials .material-group {
        display: inline-block; }
        .product-card .product-row .materials .material-group:after {
          content: "";
          display: inline-block;
          background: #eee;
          width: 1px;
          height: 32px;
          margin: 0 13px 0 5px; }
        .product-card .product-row .materials .material-group:last-child:after {
          display: none; }
        .product-card .product-row .materials .material-group .material-link {
          position: relative;
          display: inline-block;
          width: 32px;
          height: 32px;
          border: 2px solid #888;
          margin-right: 8px;
          background-color: #252525;
          background-size: cover;
          background-position: center;
          -webkit-transition: border-color 200ms;
          -moz-transition: border-color 200ms;
          -ms-transition: border-color 200ms;
          -o-transition: border-color 200ms;
          transition: border-color 200ms; }
          .product-card .product-row .materials .material-group .material-link:hover {
            border-color: #454545; }
        .product-card .product-row .materials .material-group .material-more {
          position: relative;
          display: inline-block;
          width: 32px;
          height: 32px;
          border: 1px solid #454545;
          margin-right: 8px;
          background-color: white;
          background-size: cover;
          background-position: center;
          -webkit-transition: border-color 200ms;
          -moz-transition: border-color 200ms;
          -ms-transition: border-color 200ms;
          -o-transition: border-color 200ms;
          transition: border-color 200ms; }
          .product-card .product-row .materials .material-group .material-more .fa {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            line-height: 30px;
            font-size: 18px;
            color: #454545;
            -webkit-transition: color 200ms;
            -moz-transition: color 200ms;
            -ms-transition: color 200ms;
            -o-transition: color 200ms;
            transition: color 200ms; }
          .product-card .product-row .materials .material-group .material-more:hover {
            border-color: #d2a637; }
            .product-card .product-row .materials .material-group .material-more:hover .fa {
              color: #d2a637; }
    .product-card .product-row .pdf-link, .product-card .product-row .mechanism-link {
      display: block;
      font-size: 1.1428571428571428571428571428571rem;
      color: #d2a637;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1px;
      margin-bottom: 20px; }
      .product-card .product-row .pdf-link .fa, .product-card .product-row .mechanism-link .fa {
        margin-right: 8px;
        font-size: 1.2857142857142857142857142857143rem; }
    .product-card .product-row .pdf-link {
      display: inline-block; }
    .product-card .product-row .pdf-link + .pdf-link:before {
      content: "";
      display: inline-block;
      background: #eee;
      width: 1px;
      height: 14px;
      margin: 0 17px 0 15px; }
    .product-card .product-row .btn-gold-outlined {
      display: inline-block;
      width: 200px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      margin: 10px 20px 10px 0;
      border-radius: 20px;
      color: #d2a637;
      text-decoration: none;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 1rem;
      background: rgba(210, 166, 55, 0);
      letter-spacing: 1px;
      border: 2px solid #d2a637;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -ms-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms; }
      .product-card .product-row .btn-gold-outlined:last-child {
        margin-right: 0; }
      .product-card .product-row .btn-gold-outlined:hover {
        color: white;
        background: #d2a637; }
  .product-card .product-slider {
    width: 100%;
    height: 510px;
    background: #252525;
    position: relative;
    overflow: hidden; }
    .product-card .product-slider .item {
      display: block;
      width: 100%;
      height: 510px;
      background-size: cover;
      background-position: center; }
      .product-card .product-slider .item:hover .zoom {
        opacity: 1; }
      .product-card .product-slider .item .zoom {
        position: absolute;
        width: 35px;
        height: 35px;
        left: 40px;
        bottom: 30px;
        border-radius: 100%;
        text-align: center;
        background: #d2a637;
        z-index: 7;
        opacity: 0;
        cursor: pointer;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
        -webkit-transition: 300ms;
        -moz-transition: 300ms;
        -ms-transition: 300ms;
        -o-transition: 300ms;
        transition: 300ms; }
        .product-card .product-slider .item .zoom .fa {
          color: white;
          line-height: 36px;
          font-size: 12px; }
        .product-card .product-slider .item .zoom:hover {
          background: #d7af4c; }
      .product-card .product-slider .item .zoom-mobile {
        position: absolute;
        width: 48px;
        height: 48px;
        right: 40px;
        top: 30px;
        border-radius: 100%;
        text-align: center;
        background: #d2a637;
        z-index: 7;
        display: none;
        cursor: pointer;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
        -webkit-transition: 300ms;
        -moz-transition: 300ms;
        -ms-transition: 300ms;
        -o-transition: 300ms;
        transition: 300ms; }
        .product-card .product-slider .item .zoom-mobile .fa {
          color: white;
          line-height: 47px;
          font-size: 14px; }
        .product-card .product-slider .item .zoom-mobile:hover {
          background: #d7af4c; }
    .product-card .product-slider .owl-prev, .product-card .product-slider .owl-next {
      display: block;
      position: absolute;
      top: 45%;
      font-size: 30px;
      color: #252525; }
    .product-card .product-slider .owl-prev {
      left: 25px; }
    .product-card .product-slider .owl-next {
      right: 25px; }
    .product-card .product-slider .owl-dots {
      display: block;
      position: absolute;
      right: 40px;
      bottom: 30px;
      pointer-events: none;
      counter-reset: dots; }
      .product-card .product-slider .owl-dots:before {
        display: inline-block;
        content: "";
        width: 90px;
        height: 2px;
        margin: 0 20px 5px 0;
        background: #252525; }
      .product-card .product-slider .owl-dots .owl-dot {
        display: inline-block;
        margin-left: 5px;
        width: 30px;
        text-align: center;
        pointer-events: all; }
        .product-card .product-slider .owl-dots .owl-dot:before {
          font-family: "Open Sans";
          font-size: 20px;
          color: #252525;
          font-weight: 500;
          letter-spacing: 1px;
          counter-increment: dots;
          content: "0" counter(dots); }
        .product-card .product-slider .owl-dots .owl-dot.active:before {
          font-size: 26px;
          font-weight: 700; }
  .product-card .prices-group {
    margin: 20px 0 !important; }
    .product-card .prices-group .price-block p {
      color: #252525 !important;
      font-size: 1.1428571428571428571428571428571rem !important;
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 125%; }

.photo-modal, .order-modal {
  display: none;
  background: rgba(0, 0, 0, 0.93);
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 200; }
  .photo-modal .product_modal, .order-modal .product_modal {
    display: block;
    width: 100%;
    text-align: left; }
    .photo-modal .product_modal img, .order-modal .product_modal img {
      width: 90%;
      margin-bottom: 35px; }
    .photo-modal .product_modal .heading_modal, .order-modal .product_modal .heading_modal {
      font-size: 1.2857142857142857142857142857143rem;
      color: #252525;
      text-transform: uppercase;
      text-align: left;
      width: 100%;
      letter-spacing: 1px;
      font-weight: 500;
      margin: 0 0 25px 0; }
    .photo-modal .product_modal .desc_modal, .order-modal .product_modal .desc_modal {
      width: 95%;
      font-size: 1.1428571428571428571428571428571rem;
      color: #888;
      line-height: 125%;
      letter-spacing: 1px;
      margin: 0 0 25px 0; }
    .photo-modal .product_modal .price_modal, .order-modal .product_modal .price_modal {
      display: block;
      text-transform: uppercase;
      font-size: 2.1428571428571428571428571428571rem;
      color: #d2a637;
      line-height: 2.1428571428571428571428571428571rem;
      margin-top: 0;
      font-weight: 500;
      letter-spacing: 1px; }
      .photo-modal .product_modal .price_modal .old, .order-modal .product_modal .price_modal .old {
        display: inline-block;
        font-size: 1.7142857142857142857142857142857rem;
        line-height: 2.1428571428571428571428571428571rem;
        margin-left: 10px;
        font-weight: 100;
        text-decoration: line-through; }
    .photo-modal .product_modal .sold-information_modal, .order-modal .product_modal .sold-information_modal {
      color: black;
      font-family: 'Roboto', sans-serif;
      font-size: 16px; }
  .photo-modal .photo-container, .order-modal .photo-container {
    position: relative;
    width: 70vw;
    margin: auto;
    max-width: 854px; }
    .photo-modal .photo-container img, .order-modal .photo-container img {
      z-index: 210;
      position: relative;
      max-width: 100% !important;
      max-height: 100% !important; }
  .photo-modal .order-container, .order-modal .order-container {
    position: relative;
    width: 70vw;
    margin: auto;
    background: white;
    padding: 50px;
    max-width: 920px; }
    .photo-modal .order-container p, .order-modal .order-container p {
      font-size: 1.1428571428571428571428571428571rem;
      color: #252525;
      margin: 0 0 25px 0;
      line-height: 125%;
      letter-spacing: 1px; }
    .photo-modal .order-container h3, .order-modal .order-container h3 {
      font-size: 1.7142857142857142857142857142857rem;
      color: #252525;
      text-transform: uppercase;
      text-align: center;
      width: 100%;
      letter-spacing: 1px;
      font-weight: 500;
      margin: 0 0 45px 0; }
    .photo-modal .order-container input, .photo-modal .order-container select, .order-modal .order-container input, .order-modal .order-container select {
      height: 45px;
      line-height: 45px;
      padding: 0 22px;
      width: 100%;
      font-size: 1.1428571428571428571428571428571rem;
      border-radius: 4px;
      border: 1px solid #d2d2d2;
      background: #fafafa;
      color: #888;
      outline: none;
      margin-bottom: 15px; }
      .photo-modal .order-container input::-webkit-input-placeholder, .photo-modal .order-container select::-webkit-input-placeholder, .order-modal .order-container input::-webkit-input-placeholder, .order-modal .order-container select::-webkit-input-placeholder {
        color: #c2c2c2; }
      .photo-modal .order-container input:-moz-placeholder, .photo-modal .order-container select:-moz-placeholder, .order-modal .order-container input:-moz-placeholder, .order-modal .order-container select:-moz-placeholder {
        color: #c2c2c2; }
      .photo-modal .order-container input::-moz-placeholder, .photo-modal .order-container select::-moz-placeholder, .order-modal .order-container input::-moz-placeholder, .order-modal .order-container select::-moz-placeholder {
        color: #c2c2c2; }
      .photo-modal .order-container input:-ms-input-placeholder, .photo-modal .order-container select:-ms-input-placeholder, .order-modal .order-container input:-ms-input-placeholder, .order-modal .order-container select:-ms-input-placeholder {
        color: #c2c2c2; }
    .photo-modal .order-container textarea, .order-modal .order-container textarea {
      height: 150px;
      line-height: 120%;
      padding: 15px 22px;
      width: 100%;
      font-size: 1.1428571428571428571428571428571rem;
      border-radius: 4px;
      border: 1px solid #d2d2d2;
      background: #fafafa;
      color: #888;
      outline: none;
      margin-bottom: 15px;
      resize: none; }
      .photo-modal .order-container textarea::-webkit-input-placeholder, .order-modal .order-container textarea::-webkit-input-placeholder {
        color: #c2c2c2; }
      .photo-modal .order-container textarea:-moz-placeholder, .order-modal .order-container textarea:-moz-placeholder {
        color: #c2c2c2; }
      .photo-modal .order-container textarea::-moz-placeholder, .order-modal .order-container textarea::-moz-placeholder {
        color: #c2c2c2; }
      .photo-modal .order-container textarea:-ms-input-placeholder, .order-modal .order-container textarea:-ms-input-placeholder {
        color: #c2c2c2; }
    .photo-modal .order-container button[type="submit"], .order-modal .order-container button[type="submit"] {
      display: inline-block;
      padding: 12px 26px;
      margin: 15px 0 0 0;
      border-radius: 20px;
      border: none;
      outline: none;
      letter-spacing: 1px;
      color: white;
      text-decoration: none;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 0.85714285714285714285714285714286rem;
      background: #d2a637;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      -webkit-transition: background 300ms;
      -moz-transition: background 300ms;
      -ms-transition: background 300ms;
      -o-transition: background 300ms;
      transition: background 300ms; }
      .photo-modal .order-container button[type="submit"]:hover, .order-modal .order-container button[type="submit"]:hover {
        background: #d7af4c; }
    .photo-modal .order-container .help-block, .order-modal .order-container .help-block {
      margin-top: -5px;
      margin-bottom: 10px;
      text-align: left;
      padding-left: 23px;
      color: #d2a637; }
    .photo-modal .order-container #feedbackform-captcha-image, .order-modal .order-container #feedbackform-captcha-image {
      float: left;
      margin-top: -5px;
      margin-bottom: 5px; }
  .photo-modal .btn-close, .order-modal .btn-close {
    display: block;
    position: fixed;
    right: 30px;
    top: 30px;
    width: 38px;
    height: 38px;
    cursor: pointer;
    z-index: 50; }
    .photo-modal .btn-close span, .order-modal .btn-close span {
      display: block;
      height: 4px;
      position: absolute;
      width: 38px;
      background: #FFF; }
      .photo-modal .btn-close span:nth-child(1), .order-modal .btn-close span:nth-child(1) {
        top: 13px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      .photo-modal .btn-close span:nth-child(2), .order-modal .btn-close span:nth-child(2) {
        top: 13px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }

.mechanism-modal, .material-modal {
  display: none;
  background: rgba(0, 0, 0, 0.93);
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 200; }
  .mechanism-modal .thumb, .material-modal .thumb {
    display: block;
    width: 100%;
    padding-top: 100%;
    background-position: center;
    background-size: cover; }
  .mechanism-modal .code, .material-modal .code {
    text-align: left;
    font-size: 2.1428571428571428571428571428571rem;
    margin-bottom: 10px;
    padding-left: 5%; }
  .mechanism-modal .name, .material-modal .name {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 30px;
    padding-left: 5%; }
  .mechanism-modal .longdesc, .material-modal .longdesc {
    text-align: left;
    font-size: 1.1428571428571428571428571428571rem;
    padding-left: 5%; }
  .mechanism-modal .video-container, .material-modal .video-container {
    position: relative;
    width: 70vw;
    margin: auto;
    padding-top: 56.25%;
    max-width: 854px;
    /*&:after{
        content: "";
        display: block;
        z-index: 220;
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }*/ }
    .mechanism-modal .video-container iframe, .material-modal .video-container iframe {
      z-index: 210;
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important; }
  .mechanism-modal .btn-close, .material-modal .btn-close {
    display: block;
    position: fixed;
    right: 30px;
    top: 30px;
    width: 38px;
    height: 38px;
    cursor: pointer;
    z-index: 50; }
    .mechanism-modal .btn-close span, .material-modal .btn-close span {
      display: block;
      height: 4px;
      position: absolute;
      width: 38px;
      background: #FFF; }
      .mechanism-modal .btn-close span:nth-child(1), .material-modal .btn-close span:nth-child(1) {
        top: 13px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      .mechanism-modal .btn-close span:nth-child(2), .material-modal .btn-close span:nth-child(2) {
        top: 13px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }

/*# sourceMappingURL=index.css.map */
