/*------------------------- Model -------------------------*/
@media (max-width: 1199px) {
  .pdf-link {
    display: block !important; }

  .pdf-link + .pdf-link:before {
    display: none !important; } }
@media (max-width: 1023px) {
  .product-card .product-slider .zoom {
    display: none; }
  .product-card .product-slider .zoom-mobile {
    display: block !important; } }
@media (max-width: 767px) {
  .product-card .product-row h2 {
    margin-top: 40px; }
  .product-card .product-row .btn-gold-outlined {
    width: calc( 49% - 10px ); }
  .product-card .product-slider {
    height: 350px; }
    .product-card .product-slider .item {
      height: 350px; }

  .discount-grid .item .thumb {
    background-size: contain !important;
    background-repeat: no-repeat !important; } }

/*# sourceMappingURL=media.css.map */
