//@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&amp;subset=cyrillic);

@mixin transition ($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}

$lightergrey: #888;
$lightgrey: #454545;
$grey: #252525;
$gold: #d2a637;


/*------------------------- Model -------------------------*/

@media (max-width: 1199px) {
    .pdf-link{
        display: block !important;;
    }
    .pdf-link+.pdf-link{
        &:before{
            display: none !important;
        }
    }
}
@media (max-width: 1023px) {
    .product-card{
        .product-slider{
            .zoom{
                display: none;
            }
            .zoom-mobile{
                display: block !important;
            }
        }
    }
}
@media (max-width: 767px) {

    .product-card{

        .product-row{

            h2{
                margin-top: 40px;
            }
            .btn-gold-outlined {
                width: calc( 49% - 10px );
            }
        }

        .product-slider{
            height: 350px;
            .item{
                height: 350px;
            }
        }
    }

    .discount-grid {
         .item {
             .thumb {
                background: {
                    size: contain !important;
                    repeat: no-repeat !important;
                }
            }
        }
    }

}
