/*------------------------- Materials -------------------------*/
.t-a-l {
  text-align: left !important; }

.m-b-20 {
  margin-bottom: 20px; }

.hidden {
  display: none; }

hr {
  margin: 0 0 45px 0;
  border: none;
  width: 100%;
  height: 1px;
  background: #eee; }

.tab input, .tab select {
  height: 45px;
  line-height: 45px;
  padding: 0 22px;
  width: 100%;
  font-size: 1.1428571428571428571428571428571rem;
  border-radius: 4px;
  border: 1px solid #d2d2d2;
  background: #fafafa;
  color: #888;
  outline: none;
  margin-bottom: 15px; }
  .tab input[type="checkbox"], .tab select[type="checkbox"] {
    height: auto;
    width: auto; }
  .tab input::-webkit-input-placeholder, .tab select::-webkit-input-placeholder {
    color: #c2c2c2; }
  .tab input:-moz-placeholder, .tab select:-moz-placeholder {
    color: #c2c2c2; }
  .tab input::-moz-placeholder, .tab select::-moz-placeholder {
    color: #c2c2c2; }
  .tab input:-ms-input-placeholder, .tab select:-ms-input-placeholder {
    color: #c2c2c2; }
.tab textarea {
  height: 150px;
  line-height: 120%;
  padding: 15px 22px;
  width: 100%;
  font-size: 1.1428571428571428571428571428571rem;
  border-radius: 4px;
  border: 1px solid #d2d2d2;
  background: #fafafa;
  color: #888;
  outline: none;
  margin-bottom: 15px;
  resize: none; }
  .tab textarea::-webkit-input-placeholder {
    color: #c2c2c2; }
  .tab textarea:-moz-placeholder {
    color: #c2c2c2; }
  .tab textarea::-moz-placeholder {
    color: #c2c2c2; }
  .tab textarea:-ms-input-placeholder {
    color: #c2c2c2; }
.tab button[type="submit"] {
  display: inline-block;
  padding: 12px 26px;
  margin: 0 0 20px 0;
  border-radius: 20px;
  border: none;
  outline: none;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.85714285714285714285714285714286rem;
  background: #d2a637;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -webkit-transition: background 300ms;
  -moz-transition: background 300ms;
  -ms-transition: background 300ms;
  -o-transition: background 300ms;
  transition: background 300ms; }
  .tab button[type="submit"]:hover {
    background: #d7af4c; }
.tab .help-block {
  margin-top: -5px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 23px;
  color: #d2a637; }
.tab #feedbackform-captcha-image {
  float: left;
  margin-top: -5px;
  margin-bottom: 5px; }

.tab-switch {
  width: 100%;
  text-align: left;
  margin-bottom: 35px; }
  .tab-switch.active .switch-icon svg path, .tab-switch :hover .switch-icon svg path {
    fill: #d2a637; }
  .tab-switch .switch-icon svg {
    max-width: 60px;
    max-height: 60px; }
    .tab-switch .switch-icon svg path {
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -ms-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms; }
  .tab-switch .name {
    font-size: 1.2857142857142857142857142857143rem;
    color: #454545;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 1px; }
  .tab-switch .desc {
    font-size: 1.1428571428571428571428571428571rem;
    color: #454545;
    font-weight: 400;
    letter-spacing: 1px; }

/*# sourceMappingURL=index.css.map */
