//@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&amp;subset=cyrillic);

@mixin transition ($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}

$lightestgrey: #eee;
$lightergrey: #888;
$lightgrey: #454545;
$grey: #252525;
$gold: #d2a637;

/*------------------------- Materials -------------------------*/

.t-a-l{
    text-align: left !important;
}
.m-b-20{
    margin-bottom: 20px;
}

.hidden{
    display: none;
}

hr {
    margin: 0 0 45px 0;
    border: none;
    width: 100%;
    height: 1px;
    background: $lightestgrey;
}

.tab {
    input,select{
        height: 45px;
        line-height: 45px;
        padding: 0 22px;
        width: 100%;
        font-size: 1.1428571428571428571428571428571rem;
        border-radius: 4px;
        border: 1px solid #d2d2d2;
        background: #fafafa;
        color: $lightergrey;
        outline: none;
        margin-bottom: 15px;

        &[type="checkbox"]{
            height: auto;
            width: auto;
        }

        @include placeholder {
            color: #c2c2c2;
        }
    }
    textarea{
        height: 150px;
        line-height: 120%;
        padding: 15px 22px;
        width: 100%;
        font-size: 1.1428571428571428571428571428571rem;
        border-radius: 4px;
        border: 1px solid #d2d2d2;
        background: #fafafa;
        color: $lightergrey;
        outline: none;
        margin-bottom: 15px;
        resize: none;

        @include placeholder {
            color: #c2c2c2;
        }
    }
    button[type="submit"] {
        display: inline-block;
        padding: 12px 26px;
        margin: 0 0 20px 0;
        border-radius: 20px;
        border: none;
        outline: none;
        letter-spacing: 1px;
        color: white;
        text-decoration: none;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 0.85714285714285714285714285714286rem;
        background: $gold;
        box-shadow: 0 0 5px rgba(0,0,0,0.25);

        @include transition(background 300ms);

        &:hover{
            background: lighten($gold, 5%);
        }
    }

    .help-block{
        margin-top: -5px;
        margin-bottom: 10px;
        text-align: left;
        padding-left: 23px;
        color: $gold;
    }

    #feedbackform-captcha-image{
        float: left;
        margin-top: -5px;
        margin-bottom: 5px;
    }
}

.tab-switch{
    width: 100%;
    text-align: left;
    margin-bottom: 35px;

    &.active,:hover{
        .switch-icon{
            svg {
                path{
                    fill: $gold;
                }
            }
        }
    }

    .switch-icon{
        svg {
            max-width: 60px;
            max-height: 60px;

            path{
                @include transition(300ms);
            }
        }
    }

    .name{
        font-size: 1.2857142857142857142857142857143rem;
        color: $lightgrey;
        font-weight: 500;
        margin-bottom: 10px;
        letter-spacing: 1px;
    }
    .desc{
        font-size: 1.1428571428571428571428571428571rem;
        color: $lightgrey;
        font-weight: 400;
        letter-spacing: 1px;
    }
}