.puzzleCAPTCHA {
	display: table;
}

.puzzleCAPTCHA .pcBox {
	overflow: hidden;
	display: block;
	position: relative;
	border-radius: 0px;
	border-radius: 4px;
	float: left;
	margin-top: 22px;
	margin-bottom: 22px;
	margin-right: 22px;

}

.puzzleCAPTCHA .pcBoxBG {
	display: block;
	margin: 0;
	padding: 0;
}

.puzzleCAPTCHA .pcBoxItem {
	display: block;
	position: absolute;
	border-right: 4px solid #f2f2f2;
	border-bottom: 4px solid #f2f2f2;
	box-sizing: border-box;
	overflow: hidden;
}

.puzzleCAPTCHA .pcBox:hover .pcBoxItem {
	background-color: rgba(0, 0, 0, 0.4);
}

.puzzleCAPTCHA .pcBoxItem img {
	position: absolute;
	display: none;
	opacity: 0.7;
}

.puzzleCAPTCHA .pcBoxItem:hover img {
	display: block;
}

.puzzleCAPTCHA .pcAnswer {
	overflow: hidden;
	display: block;
	position: relative;
	border-radius: 4px;
	margin-top: 22px !important;

	/*border: 2px solid #c2c2c2;*/
}