@mixin transition ($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}

$lightgrey: #454545;
$grey: #252525;
$gold: #d2a637;

@media (max-width: 1199px) {

    .top-menu{
        & nav{
            & a{
                font-size: 0.8rem;
            }
        }
    }

    #index-page {
        .content {
            .m-c {
                font-size: 18px;
            }
        }
    }

}

@media (max-width: 1023px) {

    .btn-3d-cat{
        margin: 0 0 20px 0 !important;
        display: block !important;;
    }

    a.btn-scrolltop,a.btn-back-fixed{
        background: $gold;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        .fa{
            color: white;
        }
    }

    .static-page{
        padding: 80px 20px 175px 20px;
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .hidden-xs {
        display: none;
    }
    .mobile-nav{
        .nav {
            width: 100vw;
            right: -100vw;
            top: 0;

            &.opened{
                display: flex;
            }
        }
    }
    .top-menu{
        position: fixed;
        padding: 23px 1rem;
        width: 100vw;
        z-index: 10;
        top: 0;
        & nav{
            display: none;
        }
    }
    .hero{
        margin-top: 94px;
    }
    .submenu {
        padding: 0 50px;

        .categories{
            -webkit-column-count: 2;-moz-column-count: 2;column-count: 2;

            .sub-item{
                display: block;
                width: 220px;
                margin: auto;

                >a{
                    margin: 0 0 0 10px;
                }

                .dropdown{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: auto;
                    padding: 15px 40px;
                    background: $grey;

                    .btn-close{
                        display: block;
                    }

                    a {
                        color: white;
                    }
                }
            }
        }
    }

    .catalog-grid{
        padding: 0 1rem;
    }

    footer {
        padding: 20px 1rem 50px 1rem;
    }


    .mobile-nav{
        &.inner{
            .burger{
                display: block;
            }
        }
    }
}


@media (max-width: 578px) {

    .g-recaptcha>div{
        transform: scale(0.825) !important;
        transform-origin: 0 0  !important;
    }

}


