@media (max-width: 1199px) {
  .top-menu nav a {
    font-size: 0.8rem; }

  #index-page .content .m-c {
    font-size: 18px; } }
@media (max-width: 1023px) {
  .btn-3d-cat {
    margin: 0 0 20px 0 !important;
    display: block !important; }

  a.btn-scrolltop, a.btn-back-fixed {
    background: #d2a637;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); }
    a.btn-scrolltop .fa, a.btn-back-fixed .fa {
      color: white; }

  .static-page {
    padding: 80px 20px 175px 20px; }

  .row {
    margin-left: 0;
    margin-right: 0; }

  .hidden-xs {
    display: none; }

  .mobile-nav .nav {
    width: 100vw;
    right: -100vw;
    top: 0; }
    .mobile-nav .nav.opened {
      display: flex; }

  .top-menu {
    position: fixed;
    padding: 23px 1rem;
    width: 100vw;
    z-index: 10;
    top: 0; }
    .top-menu nav {
      display: none; }

  .hero {
    margin-top: 94px; }

  .submenu {
    padding: 0 50px; }
    .submenu .categories {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2; }
      .submenu .categories .sub-item {
        display: block;
        width: 220px;
        margin: auto; }
        .submenu .categories .sub-item > a {
          margin: 0 0 0 10px; }
        .submenu .categories .sub-item .dropdown {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          height: auto;
          padding: 15px 40px;
          background: #252525; }
          .submenu .categories .sub-item .dropdown .btn-close {
            display: block; }
          .submenu .categories .sub-item .dropdown a {
            color: white; }

  .catalog-grid {
    padding: 0 1rem; }

  footer {
    padding: 20px 1rem 50px 1rem; }

  .mobile-nav.inner .burger {
    display: block; } }
@media (max-width: 578px) {
  .g-recaptcha > div {
    transform: scale(0.825) !important;
    transform-origin: 0 0  !important; } }

/*# sourceMappingURL=media.css.map */
