@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&amp;subset=cyrillic);
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  width: 100%; }

.m-t-25 {
  margin-top: 25px; }

.m-t-35 {
  margin-top: 35px; }

.aa-social.aa-center .a2a_kit {
  text-align: center; }
.aa-social .a2a_kit a {
  display: inline-block;
  float: none; }
  .aa-social .a2a_kit a span {
    border-radius: 0;
    padding: 5px; }

.field-feedbackform-email {
  position: relative; }
  .field-feedbackform-email:after {
    color: #d2a637;
    font-family: "FontAwesome";
    pointer-events: none;
    content: "\f06a";
    display: block;
    position: absolute;
    height: 17px;
    width: 17px;
    font-size: 1.5rem;
    line-height: 18px;
    background: #ffffff;
    text-align: center;
    top: 14px;
    border-radius: 13px;
    right: 15px; }

a.btn-scrolltop {
  display: block;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 5%;
  right: 5%;
  border-radius: 100%;
  border: 1px solid #d2a637;
  background: rgba(210, 166, 55, 0);
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms; }
  a.btn-scrolltop.shown {
    opacity: 1;
    pointer-events: auto; }
  a.btn-scrolltop .fa {
    line-height: 36px;
    font-size: 20px;
    color: #d2a637; }
  a.btn-scrolltop:hover {
    background: #d2a637;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); }
    a.btn-scrolltop:hover .fa {
      color: white; }

a.btn-back-fixed {
  display: block;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 5%;
  left: 5%;
  border-radius: 100%;
  border: 1px solid #d2a637;
  background: rgba(210, 166, 55, 0);
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms; }
  a.btn-back-fixed.shown {
    opacity: 1;
    pointer-events: auto; }
  a.btn-back-fixed .fa {
    margin-left: -2px;
    line-height: 36px;
    font-size: 20px;
    color: #d2a637; }
  a.btn-back-fixed:hover {
    background: #d2a637;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); }
    a.btn-back-fixed:hover .fa {
      color: white; }

.g-recaptcha > div {
  width: auto !important;
  margin-bottom: 25px; }

/* ------------------------------------------------------------- */
.autocomplete-suggestions {
  border: none;
  background: none;
  overflow: auto;
  padding: 8px 15px; }

.autocomplete-suggestion {
  padding: 0;
  position: relative;
  background: white;
  white-space: nowrap;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  margin-bottom: 8px;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.35); }
  .autocomplete-suggestion a {
    display: block;
    text-decoration: none;
    color: #252525; }

.autocomplete-price {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 95px;
  background: white;
  padding: 8px 5px; }
  .autocomplete-price .autocomplete-pricenew,
  .autocomplete-price .autocomplete-priceold {
    width: 100%;
    text-align: right;
    padding-right: 15px;
    line-height: 17px;
    height: 17px; }
  .autocomplete-price .autocomplete-pricenew {
    color: #d2a637;
    font-weight: 500; }
  .autocomplete-price .autocomplete-priceold {
    text-decoration: line-through; }

.autocomplete-thumb {
  width: 50px;
  height: 50px;
  border-radius: 0 0 27px 0;
  border-bottom: 2px solid #d2a637;
  margin-right: 15px;
  display: block;
  float: left;
  background-position: center;
  background-size: cover;
  background-color: #252525; }

.autocomplete-selected {
  background: #fafafa; }
  .autocomplete-selected .autocomplete-price {
    background: #fafafa; }

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #d2a637; }

.autocomplete-group {
  padding: 2px 5px; }

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000; }

/* ------------------------------------------------------------- */
.page {
  padding: 80px 0 175px 0; }

.check-wrap {
  margin-bottom: 15px;
  text-align: left;
  padding: 0 22px; }
  .check-wrap input[type="checkbox"] {
    height: auto;
    width: auto;
    line-height: 100%;
    border-radius: none;
    border: none;
    background: none;
    outline: none;
    margin: 0; }
  .check-wrap label {
    font-size: 1rem;
    color: grey; }
  .check-wrap a {
    color: #d2a637 !important; }

p.not-found {
  max-width: 900px;
  color: #252525;
  text-align: center;
  font-size: 1rem;
  line-height: 1.4285714285714285714285714285714rem;
  letter-spacing: 1px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px; }

.static-page .dpa * {
  text-align: left; }
.static-page .dpa p {
  margin: 0 0 15px 0; }
.static-page .dpa ul {
  color: #1a1a1a;
  text-align: center;
  font-size: 1rem;
  line-height: 1.4285714285714285714285714285714rem;
  letter-spacing: 1px;
  padding-left: 20px;
  margin: 0 0 25px 0; }
.static-page .p-left * {
  text-align: left; }
.static-page .p-left p {
  margin: 0 0 15px 0; }
.static-page .p-left ul,
.static-page .p-left ol {
  color: #1a1a1a;
  text-align: center;
  font-size: 1rem;
  line-height: 1.4285714285714285714285714285714rem;
  letter-spacing: 1px;
  padding-left: 20px;
  margin: 0 0 25px 0; }
.static-page b.b-gold {
  color: #d2a637; }
.static-page h2 {
  font-size: 1.7142857142857142857142857142857rem;
  color: #252525;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 0 45px 0; }
.static-page h3 {
  font-size: 1.7142857142857142857142857142857rem;
  color: #252525;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 0 25px 0; }
.static-page p {
  max-width: 900px;
  color: #252525;
  text-align: center;
  font-size: 1rem;
  line-height: 1.4285714285714285714285714285714rem;
  letter-spacing: 1px;
  margin: 0 0 25px 0; }
  .static-page p:last-child {
    margin-bottom: 45px; }
.static-page .btn-gold {
  display: inline-block;
  height: 40px;
  padding: 0 30px;
  margin: 0 10px;
  line-height: 40px;
  border-radius: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  color: white;
  background: #d2a637;
  border: 2px solid #d2a637;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }
  .static-page .btn-gold .fa {
    margin-left: 5px; }
  .static-page .btn-gold:hover {
    background: #d7af4c;
    border: 2px solid #d7af4c; }
  .static-page .btn-gold.outlined {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    color: #d2a637;
    background: rgba(210, 166, 55, 0);
    border: 2px solid #d2a637; }
    .static-page .btn-gold.outlined:hover {
      color: white;
      background: #d2a637; }

/*------------------------- Mobile-nav -------------------------*/
.mobile-nav.inner .burger {
  display: none;
  position: fixed;
  top: 31px; }
  .mobile-nav.inner .burger > span {
    background: #252525; }
  .mobile-nav.inner .burger.cross > span {
    background: #FFF; }
.mobile-nav.inner .nav {
  display: none;
  position: fixed;
  width: 100vw;
  right: 0;
  top: 0; }
.mobile-nav .burger {
  display: block;
  position: absolute;
  right: 5vw;
  top: 8vh;
  width: 38px;
  height: 31px;
  cursor: pointer;
  z-index: 100; }
  .mobile-nav .burger > span {
    display: block;
    height: 5px;
    position: absolute;
    width: 38px;
    background: #191919;
    margin-bottom: 8px;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms; }
    .mobile-nav .burger > span:nth-child(1) {
      top: 0px; }
    .mobile-nav .burger > span:nth-child(2) {
      top: 13px; }
    .mobile-nav .burger > span:nth-child(3) {
      top: 26px; }
    .mobile-nav .burger > span:last-child {
      margin-bottom: 0; }
  .mobile-nav .burger.cross > span {
    background: #FFF; }
    .mobile-nav .burger.cross > span:nth-child(1) {
      top: 13px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .mobile-nav .burger.cross > span:nth-child(2) {
      opacity: 0; }
    .mobile-nav .burger.cross > span:nth-child(3) {
      top: 13px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
.mobile-nav .nav {
  position: absolute;
  margin: 0;
  height: 100vh;
  width: 415px;
  right: -415px;
  background: rgba(0, 0, 0, 0.85);
  z-index: 90;
  padding: 20vh 0;
  -webkit-transition: right 300ms;
  -moz-transition: right 300ms;
  -ms-transition: right 300ms;
  -o-transition: right 300ms;
  transition: right 300ms; }
  .mobile-nav .nav.opened {
    right: 0; }
  .mobile-nav .nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none !important;
    outline: none !important;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    display: inline-block; }

/*------------------------- Menu -------------------------*/
.top-menu {
  padding: 23px 0;
  min-height: 94px;
  background: white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15); }
  .top-menu nav {
    float: right; }
    .top-menu nav a {
      display: block;
      float: left;
      height: 3.2142857142857142857142857142857rem;
      line-height: 3.2142857142857142857142857142857rem;
      font-size: 1rem;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      color: #454545;
      margin-left: 25px;
      -webkit-transition: color 100ms;
      -moz-transition: color 100ms;
      -ms-transition: color 100ms;
      -o-transition: color 100ms;
      transition: color 100ms; }
      .top-menu nav a.active {
        color: #d2a637; }
      .top-menu nav a:hover {
        color: #d2a637; }

/*------------------------- Hero -------------------------*/
.hero {
  background-color: #252525;
  position: relative;
  z-index: 0;
  /*------ temporary ------
  background: {
      image: url('/images/catalog/hero.jpg');
      size: 100%;
      position: center;
      attachment: fixed;
  };
  &.kenburns{
      background-size: 120%;
  }
  @include transition(background-size 10000ms);
  ------ temporary ------*/ }
  .hero:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0; }
  .hero .vegas-slide {
    z-index: -5; }
  .hero .row-hero {
    height: 290px; }
  .hero h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5714285714285714285714285714286rem;
    font-weight: 400;
    margin: 0 0 30px 0;
    color: white; }
  .hero .search {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    background-image: url("/images/catalog/search_glass.png");
    background-position: 338px center;
    background-repeat: no-repeat;
    height: 40px;
    width: 375px;
    z-index: 300;
    border-radius: 20px;
    display: block;
    margin: auto;
    color: white;
    font-size: 0.71428571428571428571428571428571rem;
    text-transform: uppercase;
    padding: 0 30px;
    line-height: 40px;
    outline: none;
        /*@include transition(500ms);

        &:focus{
            color: $grey;
            background-color: white;
        }*/ }
    .hero .search::-webkit-input-placeholder {
      color: white;
      opacity: 0.8; }
    .hero .search:-moz-placeholder {
      color: white;
      opacity: 0.8; }
    .hero .search::-moz-placeholder {
      color: white;
      opacity: 0.8; }
    .hero .search:-ms-input-placeholder {
      color: white;
      opacity: 0.8; }
  .hero p {
    color: white;
    display: block;
    margin: auto;
    max-width: 560px;
    text-align: center;
    font-weight: 300;
    font-size: 1.1428571428571428571428571428571rem; }
  .hero .btn-back {
    background: white;
    color: #252525;
    height: 40px;
    width: 190px;
    border-radius: 20px;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 0.71428571428571428571428571428571rem;
    text-transform: uppercase;
    line-height: 40px;
    outline: none;
    text-decoration: none; }
    .hero .btn-back .fa {
      margin-right: 10px;
      -webkit-transition: margin 300ms;
      -moz-transition: margin 300ms;
      -ms-transition: margin 300ms;
      -o-transition: margin 300ms;
      transition: margin 300ms; }
    .hero .btn-back:hover .fa {
      margin-right: 15px; }

/*------------------------- Submenu -------------------------*/
.submenu {
  display: block;
  position: relative;
  background: #252525; }
  .submenu .categories {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0; }
    .submenu .categories .sub-item {
      display: inline-block; }
      .submenu .categories .sub-item > a {
        display: block;
        position: relative;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.85714285714285714285714285714286rem;
        height: 100px;
        color: white;
        font-weight: 400;
        line-height: 100px;
        letter-spacing: 1px;
        margin: 0 20px;
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 60px; }
        .submenu .categories .sub-item > a:after {
          content: "";
          display: none;
          position: absolute;
          bottom: 0;
          left: calc(50% - 11px);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 11px 12px 11px;
          border-color: transparent transparent #f9f9f9 transparent; }
      .submenu .categories .sub-item .dropdown {
        display: none;
        position: absolute;
        width: 100%;
        height: 70px;
        left: 14px;
        overflow: auto;
        background: #f9f9f9;
        text-align: center;
        list-style: none;
        z-index: 10;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); }
        .submenu .categories .sub-item .dropdown a {
          display: inline-block;
          font-size: 0.85714285714285714285714285714286rem;
          color: #252525;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 1px;
          font-weight: 400;
          margin: 0 30px;
          -webkit-transition: color 100ms;
          -moz-transition: color 100ms;
          -ms-transition: color 100ms;
          -o-transition: color 100ms;
          transition: color 100ms; }
          .submenu .categories .sub-item .dropdown a:hover {
            color: #d2a637; }
        .submenu .categories .sub-item .dropdown .btn-close {
          display: block;
          position: absolute;
          right: 20px;
          top: 20px;
          width: 38px;
          height: 31px;
          cursor: pointer;
          z-index: 5; }
          .submenu .categories .sub-item .dropdown .btn-close span {
            display: block;
            height: 3px;
            position: absolute;
            width: 30px;
            background: #f9f9f9; }
            .submenu .categories .sub-item .dropdown .btn-close span:nth-child(1) {
              top: 13px;
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg); }
            .submenu .categories .sub-item .dropdown .btn-close span:nth-child(2) {
              top: 13px;
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg); }
      .submenu .categories .sub-item.active a:after {
        display: block; }
      .submenu .categories .sub-item.active .dropdown {
        display: flex; }

/*------------------------- Footer -------------------------*/
footer {
  min-height: 270px;
  color: white;
  padding: 50px 0 50px 0;
  position: relative;
  background-image: url("/images/site/footer.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0; }
  footer .logo-footer {
    filter: brightness(0) invert(1); }
  footer:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(26, 26, 26, 0.95); }
  footer h4 {
    font-size: 1.5714285714285714285714285714286rem;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 400; }
  footer p {
    font-size: 1rem;
    opacity: 0.8;
    margin: 25px 0 20px 0;
    font-weight: 300; }
  footer a {
    color: white;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.8;
    line-height: 1.7142857142857142857142857142857rem; }
  footer .mail-link {
    color: white;
    font-size: 1rem !important;
    opacity: 0.8 !important;
    font-weight: 300 !important;
    text-transform: none;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms; }
    footer .mail-link:hover {
      color: #d2a637 !important;
      opacity: 1 !important; }
  footer nav.nav-soc {
    margin-bottom: 15px; }
    footer nav.nav-soc .btn-soc {
      display: inline-block;
      width: 24px;
      height: 24px;
      opacity: 0.8;
      filter: grayscale(1);
      margin-right: 5px;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -ms-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms; }
      footer nav.nav-soc .btn-soc:hover {
        opacity: 1;
        filter: grayscale(0); }
      footer nav.nav-soc .btn-soc.facebook {
        background-image: url("/images/site/social/icon-fb.png"); }
      footer nav.nav-soc .btn-soc.instagram {
        background-image: url("/images/site/social/icon-inst.png"); }
      footer nav.nav-soc .btn-soc.pinterest {
        background-image: url("/images/site/social/icon-pnt.png"); }
      footer nav.nav-soc .btn-soc.vk {
        background-image: url("/images/site/social/icon-vk.png"); }
      footer nav.nav-soc .btn-soc.ok {
        background-image: url("/images/site/social/icon-ok.png"); }
      footer nav.nav-soc .btn-soc.twitter {
        background-image: url("/images/site/social/icon-tw.png"); }
      footer nav.nav-soc .btn-soc.youtube {
        background-image: url("/images/site/social/icon-yt.png"); }
  footer .copyright {
    margin-bottom: 0;
    text-align: center; }
  footer .sitemap-link {
    text-align: center;
    margin-top: 10px; }
    footer .sitemap-link a {
      text-transform: none; }

/*------------------------- Preloader -------------------------*/
.preloader {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: white; }
  .preloader.forceshow {
    display: block; }
    .preloader.forceshow.hidden {
      display: none; }

.preloader-feedback {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  background: white; }
  .preloader-feedback.hidden {
    display: none; }

@media (max-width: 767px) {
  .preloader {
    display: block; }
    .preloader.hidden {
      display: none; } }
/*----------------------- Main News -----------------------*/
.modal-news {
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); }
  .modal-news .modal-inner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    color: black;
    max-width: 450px; }
    .modal-news .modal-inner .modal-header {
      position: relative; }
      .modal-news .modal-inner .modal-header .modal-close {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 30px;
        line-height: 15px;
        cursor: pointer; }
      .modal-news .modal-inner .modal-header h1 {
        margin-top: 0;
        margin-bottom: 7px; }
    .modal-news .modal-inner .modal-body p {
      margin: 5px 0;
      font-size: 15px; }

@media (max-width: 1023px) {
  .modal-news .modal-inner {
    width: 95%; }
    .modal-news .modal-inner .modal-body p {
      font-size: 17px; } }
.site-error {
  text-align: center; }
  .site-error .err-header {
    background-color: rgba(255, 255, 255, 0.3); }
  .site-error .err-header #err-slideshow {
    min-height: 500px;
    z-index: -1; }
  .site-error .err-logo {
    position: absolute;
    top: 50px;
    left: 50%;
    display: inline-block;
    padding: 20px;
    transform: translateX(-50%);
    filter: invert(0.9); }
  .site-error .err-block {
    margin-top: -200px;
    background-color: white; }
  .site-error h1 {
    margin: 0;
    font-size: 15em; }
  .site-error h2 {
    font-size: 30px;
    margin: 0; }
  .site-error a.err-link {
    display: inline-block;
    color: white;
    background-color: #3e454d;
    padding: 12px 30px;
    border-radius: 30px;
    font-size: 15px;
    margin-bottom: 100px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px; }
  .site-error .err-message {
    font-size: 16px;
    margin: 10px 0 70px 0; }

.sitemap {
  text-align: left; }
  .sitemap div {
    font-size: 16px; }
    .sitemap div > div {
      margin-left: 20px; }
    .sitemap div a {
      color: black;
      font-size: 16px; }
      .sitemap div a:hover {
        color: #d2a637; }

/*# sourceMappingURL=site.css.map */
