@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700&amp;subset=cyrillic);

@mixin transition ($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }

    &:-moz-placeholder {
        @content
    }

    &::-moz-placeholder {
        @content
    }

    &:-ms-input-placeholder {
        @content
    }
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    width: 100%;
}

$lightgrey: #454545;
$darkgrey: #1a1a1a;
$grey: #252525;
$gold: #d2a637;

.m-t-25 {
    margin-top: 25px;
}

;

.m-t-35 {
    margin-top: 35px;
}

;

.aa-social {
    &.aa-center {
        .a2a_kit {
            text-align: center;
        }
    }

    .a2a_kit {

        a {
            display: inline-block;
            float: none;

            span {
                border-radius: 0;
                padding: 5px;
            }
        }
    }
}

.field-feedbackform-email {
    position: relative;

    &:after {
        color: $gold;
        font-family: "FontAwesome";
        pointer-events: none;
        content: "\f06a";
        display: block;
        position: absolute;
        height: 17px;
        width: 17px;
        font-size: 1.5rem;
        line-height: 18px;
        background: #ffffff;
        text-align: center;
        top: 14px;
        border-radius: 13px;
        right: 15px;
    }
}

a.btn-scrolltop {
    display: block;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    border-radius: 100%;
    border: 1px solid $gold;
    background: transparentize($gold, 1);
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    @include transition(200ms);

    &.shown {
        opacity: 1;
        pointer-events: auto;
    }

    .fa {
        line-height: 36px;
        font-size: 20px;
        color: $gold;
    }

    &:hover {
        background: $gold;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

        .fa {
            color: white;
        }
    }
}

a.btn-back-fixed {
    display: block;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 5%;
    left: 5%;
    border-radius: 100%;
    border: 1px solid $gold;
    background: transparentize($gold, 1);
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    @include transition(200ms);

    &.shown {
        opacity: 1;
        pointer-events: auto;
    }

    .fa {
        margin-left: -2px;
        line-height: 36px;
        font-size: 20px;
        color: $gold;
    }

    &:hover {
        background: $gold;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

        .fa {
            color: white;
        }
    }
}

.g-recaptcha>div {
    width: auto !important;
    margin-bottom: 25px;
}

/* ------------------------------------------------------------- */

.autocomplete-suggestions {
    border: none;
    background: none;
    overflow: auto;
    padding: 8px 15px;
}

.autocomplete-suggestion {
    padding: 0;
    position: relative;
    background: white;
    white-space: nowrap;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    margin-bottom: 8px;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);

    a {
        display: block;
        text-decoration: none;
        color: $grey;
    }
}

.autocomplete-price {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 95px;
    background: white;
    padding: 8px 5px;

    .autocomplete-pricenew,
    .autocomplete-priceold {
        width: 100%;
        text-align: right;
        padding-right: 15px;
        line-height: 17px;
        height: 17px;
    }

    .autocomplete-pricenew {
        color: $gold;
        font-weight: 500;
    }

    .autocomplete-priceold {
        text-decoration: line-through;
    }
}

.autocomplete-thumb {
    width: 50px;
    height: 50px;
    border-radius: 0 0 27px 0;
    border-bottom: 2px solid $gold;
    margin-right: 15px;
    display: block;
    float: left;

    background: {
        position: center;
        size: cover;
        color: $grey;
    }

    ;
}

.autocomplete-selected {
    background: #fafafa;

    .autocomplete-price {
        background: #fafafa;
    }
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: $gold;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

/* ------------------------------------------------------------- */

.page {
    padding: 80px 0 175px 0;
}

.check-wrap {
    margin-bottom: 15px;
    text-align: left;
    padding: 0 22px;

    input[type="checkbox"] {
        height: auto;
        width: auto;
        line-height: 100%;
        border-radius: none;
        border: none;
        background: none;
        outline: none;
        margin: 0;
    }

    label {
        font-size: 1rem;
        color: grey;
    }

    a {
        color: $gold !important;
    }
}

p.not-found {
    max-width: 900px;
    color: #252525;
    text-align: center;
    font-size: 1rem;
    line-height: 1.4285714285714285714285714285714rem;
    letter-spacing: 1px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.static-page {

    .dpa {
        * {
            text-align: left;
        }

        p {
            margin: 0 0 15px 0;
        }

        ul {
            color: $darkgrey;
            text-align: center;
            font-size: 1rem;
            line-height: 1.4285714285714285714285714285714rem;
            letter-spacing: 1px;
            padding-left: 20px;
            margin: 0 0 25px 0;
        }
    }

    .p-left {
        * {
            text-align: left;
        }

        p {
            margin: 0 0 15px 0;
        }

        ul,
        ol {
            color: $darkgrey;
            text-align: center;
            font-size: 1rem;
            line-height: 1.4285714285714285714285714285714rem;
            letter-spacing: 1px;
            padding-left: 20px;
            margin: 0 0 25px 0;
        }
    }

    b.b-gold {
        color: $gold;
    }

    h2 {
        font-size: 1.7142857142857142857142857142857rem;
        color: $grey;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        letter-spacing: 1px;
        font-weight: 500;
        margin: 0 0 45px 0;
    }

    h3 {
        font-size: 1.7142857142857142857142857142857rem;
        color: $grey;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        letter-spacing: 1px;
        font-weight: 500;
        margin: 0 0 25px 0;
    }

    p {
        max-width: 900px;
        color: $grey;
        text-align: center;
        font-size: 1rem;
        line-height: 1.4285714285714285714285714285714rem;
        letter-spacing: 1px;
        margin: 0 0 25px 0;

        &:last-child {
            margin-bottom: 45px;
        }
    }

    .btn-gold {
        display: inline-block;
        height: 40px;
        padding: 0 30px;
        margin: 0 10px;
        line-height: 40px;
        border-radius: 20px;
        letter-spacing: 1px;
        text-decoration: none;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1rem;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

        color: white;
        background: $gold;
        border: 2px solid $gold;

        .fa {
            margin-left: 5px;
        }

        @include transition(300ms);

        &:hover {
            background: lighten($gold, 5%);
            border: 2px solid lighten($gold, 5%);
        }

        &.outlined {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0);
            color: $gold;
            background: transparentize($gold, 1);
            border: 2px solid $gold;

            &:hover {
                color: white;
                background: $gold;
            }
        }
    }
}

/*------------------------- Mobile-nav -------------------------*/

.mobile-nav {
    &.inner {
        .burger {
            display: none;
            position: fixed;
            top: 31px;

            >span {
                background: $grey;
            }

            &.cross {
                >span {
                    background: #FFF;
                }
            }
        }

        .nav {
            display: none;
            position: fixed;
            width: 100vw;
            right: 0;
            top: 0;
        }
    }

    .burger {
        display: block;
        position: absolute;
        right: 5vw;
        top: 8vh;
        width: 38px;
        height: 31px;
        cursor: pointer;

        z-index: 100;

        >span {
            display: block;
            height: 5px;
            position: absolute;
            width: 38px;
            background: #191919;
            margin-bottom: 8px;

            @include transition(all 300ms);

            &:nth-child(1) {
                top: 0px;
            }

            &:nth-child(2) {
                top: 13px;
            }

            &:nth-child(3) {
                top: 26px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &.cross {
            >span {
                background: #FFF;

                &:nth-child(1) {
                    top: 13px;
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    top: 13px;
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .nav {
        position: absolute;
        margin: 0;
        height: 100vh;
        width: 415px;
        right: -415px;
        background: rgba(0, 0, 0, 0.85);
        z-index: 90;
        padding: 20vh 0;

        @include transition(right 300ms);

        &.opened {
            right: 0;
        }

        a {
            color: white;
            text-transform: uppercase;
            text-decoration: none !important;
            outline: none !important;
            font-size: 22px;
            font-weight: 700;
            text-align: left;
            display: inline-block;
        }
    }
}

/*------------------------- Menu -------------------------*/

.top-menu {
    padding: 23px 0;
    min-height: 94px;
    background: white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);

    & nav {
        float: right;

        & a {
            display: block;
            float: left;
            height: 3.2142857142857142857142857142857rem;
            line-height: 3.2142857142857142857142857142857rem;
            font-size: 1rem;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            color: $lightgrey;
            margin-left: 25px;

            @include transition(color 100ms);

            &.active {
                color: $gold;
            }

            &:hover {
                color: $gold;
            }
        }
    }
}

/*------------------------- Hero -------------------------*/

.hero {
    background-color: $grey;
    position: relative;
    z-index: 0;

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.60);
        z-index: 0;
    }

    .vegas-slide {
        z-index: -5;
    }

    /*------ temporary ------
    background: {
        image: url('/images/catalog/hero.jpg');
        size: 100%;
        position: center;
        attachment: fixed;
    };
    &.kenburns{
        background-size: 120%;
    }
    @include transition(background-size 10000ms);
    ------ temporary ------*/


    & .row-hero {
        height: 290px;
    }

    & h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 2.5714285714285714285714285714286rem;
        font-weight: 400;
        margin: 0 0 30px 0;
        color: white;
    }

    & .search {
        border: 1px solid white;

        background: {
            color: rgba(255, 255, 255, 0);
            image: url('/images/catalog/search_glass.png');
            position: 338px center;
            repeat: no-repeat;
        }

        height: 40px;
        width: 375px;
        z-index: 300;
        border-radius: 20px;
        display: block;
        margin: auto;
        color: white;
        font-size: 0.71428571428571428571428571428571rem;
        text-transform: uppercase;
        padding: 0 30px;
        line-height: 40px;
        outline: none;

        /*@include transition(500ms);

        &:focus{
            color: $grey;
            background-color: white;
        }*/

        @include placeholder {
            color: white;
            opacity: 0.8;
        }
    }

    & p {
        color: white;
        display: block;
        margin: auto;
        max-width: 560px;
        text-align: center;
        font-weight: 300;
        font-size: 1.1428571428571428571428571428571rem;
    }

    & .btn-back {
        background: white;
        color: $grey;
        height: 40px;
        width: 190px;
        border-radius: 20px;
        display: block;
        margin: auto;
        text-align: center;
        font-size: 0.71428571428571428571428571428571rem;
        text-transform: uppercase;
        line-height: 40px;
        outline: none;
        text-decoration: none;

        .fa {
            margin-right: 10px;

            @include transition(margin 300ms)
        }

        &:hover {
            .fa {
                margin-right: 15px;
            }
        }
    }

}

/*------------------------- Submenu -------------------------*/

.submenu {
    display: block;
    position: relative;
    background: $grey;

    & .categories {
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;

        & .sub-item {
            display: inline-block;

            &>a {
                display: block;
                position: relative;
                text-align: left;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 0.85714285714285714285714285714286rem;
                height: 100px;
                color: white;
                font-weight: 400;
                line-height: 100px;
                letter-spacing: 1px;
                margin: 0 20px;


                background: {
                    repeat: no-repeat;
                    position: left center;
                }

                padding-left: 60px;

                &:after {
                    content: "";
                    display: none;
                    position: absolute;
                    bottom: 0;
                    left: calc(50% - 11px);

                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 11px 12px 11px;
                    border-color: transparent transparent #f9f9f9 transparent;
                }
            }

            & .dropdown {
                display: none;
                position: absolute;
                width: 100%;
                height: 70px;
                left: 14px;
                overflow: auto;
                background: #f9f9f9;
                text-align: center;
                list-style: none;
                z-index: 10;
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

                & a {
                    display: inline-block;
                    font-size: 0.85714285714285714285714285714286rem;
                    color: $grey;
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: 1px;
                    font-weight: 400;
                    margin: 0 30px;

                    @include transition(color 100ms);

                    &:hover {
                        color: $gold;
                    }
                }

                .btn-close {
                    display: block;
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    width: 38px;
                    height: 31px;
                    cursor: pointer;

                    z-index: 5;

                    span {
                        display: block;
                        height: 3px;
                        position: absolute;
                        width: 30px;
                        background: #f9f9f9;

                        &:nth-child(1) {
                            top: 13px;
                            -webkit-transform: rotate(45deg);
                            -moz-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            -o-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }

                        &:nth-child(2) {
                            top: 13px;
                            -webkit-transform: rotate(-45deg);
                            -moz-transform: rotate(-45deg);
                            -ms-transform: rotate(-45deg);
                            -o-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                        }
                    }
                }
            }

            &.active {
                & a {
                    &:after {
                        display: block;
                    }
                }

                & .dropdown {
                    display: flex;
                }
            }
        }
    }

}

/*------------------------- Footer -------------------------*/

footer {
    min-height: 270px;
    color: white;
    padding: 50px 0 50px 0;
    position: relative;

    background: {
        image: url('/images/site/footer.jpg');
        size: cover;
        position: center;
    }

    ;
    z-index: 0;

    .logo-footer {
        filter: brightness(0) invert(1);
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;

        background: transparentize($darkgrey, 0.05);
    }

    & h4 {
        font-size: 1.5714285714285714285714285714286rem;
        margin-top: 0;
        text-transform: uppercase;
        font-weight: 400;
    }

    & p {
        font-size: 1rem;
        opacity: 0.8;
        margin: 25px 0 20px 0;
        font-weight: 300;
    }

    a {
        color: white;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        opacity: 0.8;
        line-height: 1.7142857142857142857142857142857rem;
    }

    .mail-link {
        color: white;
        font-size: 1rem !important;
        opacity: 0.8 !important;
        font-weight: 300 !important;
        text-transform: none;

        -webkit-transition: 200ms;
        -moz-transition: 200ms;
        -ms-transition: 200ms;
        -o-transition: 200ms;
        transition: 200ms;

        &:hover {
            color: $gold !important;
            opacity: 1 !important;
        }
    }

    nav.nav-soc {
        margin-bottom: 15px;

        .btn-soc {
            display: inline-block;
            width: 24px;
            height: 24px;
            opacity: 0.8;
            filter: grayscale(1);
            margin-right: 5px;

            background: {
                repeat: no-repeat;
                position: center;
            }

            @include transition(300ms);

            &:hover {
                opacity: 1;
                filter: grayscale(0);
            }

            &.facebook {
                background-image: url('/images/site/social/icon-fb.png')
            }

            &.instagram {
                background-image: url('/images/site/social/icon-inst.png')
            }

            &.pinterest {
                background-image: url('/images/site/social/icon-pnt.png')
            }

            &.vk {
                background-image: url('/images/site/social/icon-vk.png')
            }

            &.ok {
                background-image: url('/images/site/social/icon-ok.png')
            }

            &.twitter {
                background-image: url('/images/site/social/icon-tw.png')
            }

            &.youtube {
                background-image: url('/images/site/social/icon-yt.png');
            }
        }
    }

    .copyright {
        margin-bottom: 0;
        text-align: center;
    }

    .sitemap-link {
        text-align: center;
        margin-top: 10px;

        a {
            text-transform: none;
        }
    }
}


/*------------------------- Preloader -------------------------*/
.preloader {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: white;

    &.forceshow {
        display: block;

        &.hidden {
            display: none;
        }
    }
}

.preloader-feedback {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: white;

    &.hidden {
        display: none;
    }
}

@media (max-width: 767px) {
    .preloader {
        display: block;

        &.hidden {
            display: none;
        }
    }
}

/*----------------------- Main News -----------------------*/

.modal-news {
    display: block;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .6);

    .modal-inner {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background: white;
        color: black;
        max-width: 450px;

        .modal-header {
            position: relative;

            .modal-close {
                position: absolute;
                right: 0;
                top: 0;
                font-size: 30px;
                line-height: 15px;
                cursor: pointer;
            }

            h1 {
                margin-top: 0;
                margin-bottom: 7px;
            }
        }

        .modal-body p {
            margin: 5px 0;
            font-size: 15px;
            // text-align: justify;
        }
    }
}

@media (max-width: 1023px) {
    .modal-news {
        .modal-inner {
            width: 95%;

            .modal-body p {
                font-size: 17px;
            }
        }
    }
}

.site-error {
    text-align: center;

    .err-header {
        background-color: rgba(255, 255, 255, 0.3);
    }

    .err-header #err-slideshow {
        min-height: 500px;
        z-index: -1;
    }

    .err-logo {
        position: absolute;
        top: 50px;
        left: 50%;
        display: inline-block;
        padding: 20px;
        transform: translateX(-50%);
        filter: invert(0.9);
    }

    .err-block {
        margin-top: -200px;
        background-color: white;
    }

    h1 {
        margin: 0;
        font-size: 15em;
    }

    h2 {
        font-size: 30px;
        margin: 0;
    }

    a.err-link {
        display: inline-block;
        color: white;
        background-color: #3e454d;
        padding: 12px 30px;
        border-radius: 30px;
        font-size: 15px;
        margin-bottom: 100px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .err-message {
        font-size: 16px;
        margin: 10px 0 70px 0;
    }
}

.sitemap {
    text-align: left;

    div {
        font-size: 16px;

        & > div {
            margin-left: 20px;
        }

        a {
            color: black;
            font-size: 16px;

            &:hover {
                color: $gold;
            }
        }
    }
}