table.table-action tbody td:last-child {
    width: 210px;
}

table.table td{
    word-break: break-all;
}

@media screen and (max-width: 991px) {
    .main-content .page-content {
        overflow-x: scroll !important;
    }
}

.howto{
    color: white !important;
    text-decoration: none !important;
    display: block;
    opacity: 0.6;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-transition: 200ms;-moz-transition: 200ms;-ms-transition: 200ms;-o-transition: 200ms;transition: 200ms;
}
.howto:hover{
    opacity: 0.9;
}

.grid-view .table tr td:first-child{
    min-width: 45px !important;
}

.topbar .header-left ul.nav-icons li{
    cursor: default !important;
}
.topbar .header-left ul.nav-icons li b{
    line-height: 30px;
}